@import (reference) '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '_variables.less';

.header-why-jakarta-ee {
    min-height: calc(@jumbotron-height + 10rem);

    .jumbotron.featured-jumbotron {
        min-height: @jumbotron-height;
        padding: 0;
    }
}