{{ $lang := .Page.Lang }}
{{$langBase:=index .Site.Data $lang}}
{{$enBase:=index .Site.Data "en"}}

{{ $testimonials := (index $langBase.testimonials.categories "get-involved").testimonials }}
{{ if not $testimonials }}
  {{ $testimonials = (index $enBase.testimonials.categories "get-involved").testimonials }}
{{ end }}

{{ if $testimonials }}
<div class="get-involved-testimonials testimonials-alternate row">
    
        <h2 class="big-text-secondary text-center margin-bottom-40">{{ i18n "home-testimonials" }}</h2>
        
            <div class="solstice-slider owl-carousel owl-theme list-inline" data-slider-lg-count="1" data-slider-md-count="1" data-slider-sm-count="1">
                {{ range $testimonials }}
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-16 col-sm-offset-4">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="testimonials-alternate-img"><img class="img-responsive" class="img" src="{{ .picture }}" alt="{{ .name }}'s picture"></div>
                                    </div>
                                    <div class="col-sm-20 testimonials-alternate-text">
                                        <p>{{ .text | safeHTML }}</p>
                                        <p><strong>- {{ .name }},</strong> <em>{{ .company }}</em></p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                {{ end }}
                    </div>
        
    
</div>
    
{{ end }}