// FOOTER
footer#solstice-footer {
    & {
      text-align: center;
      background: url("images/release/jakarta9-footer.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    i {
      font-size: 24px;
    }
    section {
      margin-top: 20px;
    }
    .nav {
      margin-left: 0px;
    }

    @media (min-width:992px) {
      & {
        text-align: left;
      }
      & section {
        margin-top: 0px;
      }
      & .nav {
        margin-left: -15px;
      }
    }
  }