.header-release-11 {
  video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }

  .featured-jumbotron {
    padding-top: 10rem;
    padding-bottom: 10rem;

    &-title-prefix {
      font-size: 1.75rem;
      font-weight: 600;
    }

    &-title {
      position: relative;
      margin-bottom: 3rem;
      font-size: 7.5rem;

      .underlined {
        text-underline-offset: 3rem;
        text-decoration-thickness: 1px;
      }
    }

    &-subtitle {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 4rem;
    }

    &-tagline {
      font-size: 3rem;
      font-style: italic;
    }

    .additional-links {
      margin-top: 1.5rem;
      font-size: 1.25rem;

      a {
        font-weight: 600;
      }
    }

    .btn-contained {
      padding: 1.5rem;
    }
  }

  .release-number {
    position: absolute;
    top: -3rem;
    font-size: 16rem;
    font-style: italic;
    letter-spacing: -0.2ch;
  }
}

