.flex-wrap {
  flex-wrap: wrap;
}

.jumbotron-wrapper {
  overflow: hidden;
  position: relative;
}

.hide {
  display: none;
}

/** Animations **/
@keyframes jumbotron-slidein-down {
  from {
    margin-top: -100%;
  }

  to {
    margin-bottom: 0%;
  }
}

@keyframes jumbotron-zoomin {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
/** Animations ends **/

#video-background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}


.jumbotron-button-container {

  a#text-white {
    color: @white;
    font-size: 20px;
  }

  position: relative;
  animation-name: jumbotron-zoomin;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  @media (min-width: @screen-sm-min) {  // 768px
    width: 700px;

  }
}

.jumbotron {

  .flex-grow-container {
    animation-name: jumbotron-slidein-down;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    @media (min-width: @screen-sm-min) {  // 768px
      flex-grow: 1;
    }
  }
}

.font-exo {
  font-family: 'Exo', sans-serif;
}

.header-release-9 {
  .row-toolbar-col {
    a {
      color: @brand-primary;
    }
  }

  #main-menu {
    @media (min-width: @screen-sm-min) {  // 768px
      a {
        color: @brand-secondary;
      }

      a:hover {
        color: @brand-secondary;
        text-decoration: none;
        border-bottom: solid @brand-primary;
      }

      .dropdown-menu {
        a:hover {
          border-bottom: none;
          text-decoration: underline;
        }
      }
    }
  } 

  background-color: @white;

  h1 {
    font-size: 40px;
    font-weight: 400;
    font-stretch: condensed;
    text-align:center;
    @media (min-width: 570px) {
      font-size: 50px;
    }
    @media (min-width: 650px) {
      font-size: 55px;
    }
    @media (min-width: @screen-sm-min) {
      text-align:left;
      font-size: 70px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 90px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 110px;
    }
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
    &:after {
      border-bottom:none;
    }
  }

  p, p span {
    font-weight: 400;
    text-transform: uppercase;
    font-stretch: condensed;
  }

  .jumbotron.featured-jumbotron-download {
    min-height: 650px;
    background-image:url("images/release/jakarta9-header.jpg");
    background-repeat:no-repeat;
    background-size:cover;

    .btn-primary {
      color: @white;
      background-color: transparent;
      border-color: @white;
      min-height: 70px;
      text-transform: uppercase;
    }
    .btn-primary:hover {
      color: @brand-primary;
    }
  }

  .jumbotron-right-content {
    font-family: 'Exo', sans-serif;
    font-size: 130px;
    @media (min-width: @screen-sm-min) {
      font-size: 250px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 250px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 250px;
    }
    line-height: 1;
    font-weight: 400;
  }
  ul.buttons {
    li {
      width:100%;
      @media (min-width: @screen-md-min) {
        width:49%;
      }
    }
  }
  .btn {
    width:100%;
    @media (max-width: @screen-sm-max) {
      margin-bottom:15px;
    }
  }
}
  

.features-and-benefits {
    padding:30px 0 60px 0;

    .feature-box {
        background-color: #eeeded;
        margin: 10px;
        padding: 0 40px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-box-shadow: -20px 25px 23px 0px rgba(156,156,156,1);
        -moz-box-shadow: -20px 25px 23px 0px rgba(156,156,156,1);
        box-shadow: -20px 25px 23px 0px rgba(156,156,156,1);

        h3 {
            padding-top: 70px;
        }

        p {
            padding-bottom: 30px;
        }

        hr {
            max-width: 150px;
            border-top: 5px solid @brand-primary;
            margin-left: 0;
        }

    }

    .polygons {
        background: @brand-secondary;
        height: 75px;
        position: relative;
        width: 70px;

    }

    .polygons:after {
        border-top: 10px solid @brand-secondary;
        border-left: 35px solid transparent;
        border-right: 35px solid transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 75px;
        width: 0;
    }

    .polygons-right {
        float: right;
        margin-top: -10px;
    }

}

.jakarta-ee-hr {
    width: 150px;
    border-top: 5px solid @brand-primary;
    margin-left: 0;
}


.font-numbers {
  font-size: 100px;
}

.btn-watch-video {
  &:hover {
    background-color: @brand-primary;
    border-color: @brand-primary;
  }
}

.white-paper-bg {

  //* background *//
  background-image: url("images/release/release-9-download-mobile-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: visible;

  @media (min-width: @screen-lg-min) { // 1200px
    background-position: top;
  }

  @media (min-width: @screen-sm-min) {  // 768px
    background-image: url("images/release/jakarta9-image.png");
    background-position: left;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  //* background *//

  // padding-left: 0;
  // padding-right: 0;
  .btn-blue {
    background-color: @white;
    color: @brand-secondary;
  }
  .btn-blue:hover {
    background-color: @brand-secondary;
    color: @white;
  }
}

.text-white {
  color: @white;
}

.d-inline {
  display: inline-block;
}

.white-paper-download {
  background-color: rgba(255, 165, 0, 0.8);

  padding-top:100px;
  padding-bottom: 100px;
  text-align: center;
  
  @media (min-width: @screen-sm-min) {  // 768px
    background: none;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.jakarta-download-social {
  text-align:center;
  padding:30px 0 50px;
  .fa-stack {
    color:@brand-primary;
    &:hover {
      color:@brand-secondary;
    }
  }
}

footer#solstice-footer.footer-release-9 {
  background: url("images/release/jakarta9-footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: @white;

  h2, a, a.social-media-link {
    color: @white;
  }

  a:hover, a.social-media-link:hover {
    color: #bfbebe;
  }
}
