.jakartaee-10-jumbotron-wrapper {
  overflow: hidden;
  position: relative;
}

.header-release-10-logo {
  width: 350px;
  @media (min-width: @screen-sm-min) {
    width: 540px;
  }
}

.header-release-10 {
  background-color: @brand-primary;

  &.header-secondary-bg-img {
    .featured-jumbotron {
      min-height:300px;
      padding-top: 80px;
    }
  }

  .jakartaee-10-cloud-img {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 550px;
      display: none;
      @media (min-width: @screen-sm-min) {
        display: block;
        width: 370px;
        margin-top: 195px;
      }
      @media (min-width: @screen-lg-min) {
        margin-top: 0;
        width: 550px;
      }
    }
  }

  .featured-jumbotron {
    padding-top: 60px;
  }

  .header-release-10-container {
    position: relative;
    height: 56vh;
    max-height: 680px;
    min-height: 560px;
  }

  .btn-primary {
    background-color: @orange;
    border-radius: 30px;
    color: @brand-primary;
    border-color: @orange;
    margin-top: 20px;
    padding: 15px;
    text-transform: uppercase;
  }
  .btn-primary:hover {
    color: @brand-primary;
    background-color: darken(@orange, 10%);
    border-color: darken(@orange, 10%);
  }
  ul {
    li:nth-child(2) {
      .btn-primary {
        background-color: #eb5700;
        border-color: #eb5700;
        &:hover {
          background-color: darken(#eb5700, 10%);
          border-color: darken(#eb5700, 10%);
          color: @brand-primary;
        }
      }
    }
  }

  .row-toolbar-col {
    a {
      color: @brand-secondary;
    }
  }

  #main-menu {
    @media (min-width: @screen-sm-min) {  // 768px
      a {
        color: @brand-primary;
      }

      a:hover {
        color: @brand-primary;
        text-decoration: none;
      }

      .dropdown-menu {
        a:hover {
          border-bottom: none;
          text-decoration: underline;
        }
      }
    }
  }

  .jakartaee-10-jumbotron-title-prefix {
    text-transform: uppercase;
    font-size: 18px;
    color: @orange;
    margin-left: 5px;
    font-weight: 700;
    margin-bottom: -5px;
  }
  .jakartaee-10-jumbotron-subtitle {
    text-transform: uppercase;
  }

  .jakartaee-10-jumbotron-footer {
    @media (min-width: @screen-sm-min) {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
    }

    font-weight: bold;
    .jakartaee-10-jumbotron-footer-list {
      color: @orange;
      font-size: 22px;
      text-shadow: 0px 0px 8px rgba(0,0,0,0.6);
      @media (min-width: @screen-sm-min) {
        font-size: 36px;
      }
    }
    .jakartaee-10-jumbotron-footer-tagline {
      font-size: 22px;
      font-weight: bold;
      text-shadow: 0px 0px 8px rgba(0,0,0,0.6);
      @media (min-width: @screen-sm-min) {
        font-size: 42px;
      }
    }
  }

  h1 {
    margin-bottom: 0;
    &:after {
      border-bottom:none;
    }
    img {
      margin-top: -25px;
      margin-left: -18px;
    }
  }
  h2 {
    margin-top: 5px;
  }

  .btn {
    @media (max-width: @screen-sm-max) {
      margin-bottom:15px;
    }
  }
}

.features-and-benefits-text {
  display: none;
}

.jakartaee-10-white-paper-bg {
  //* background *//
  position: relative;
  overflow: hidden;
  @media (min-width: @screen-sm-min) {
    // 768px
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @screen-sm-min) and (-ms-high-contrast: none) {
    justify-content: flex-start;
  }
  .btn {
    padding:20px 40px;
    text-transform: uppercase;
    @media (min-width: @screen-lg-min) {
      margin-left: 125px;
    }
  }
}

.jakartaee-10-white-paper-bg-back-layer {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/release/release-10-download.jpg');
  -webkit-filter: blur(10px) opacity(0.6);
  filter: blur(10px) opacity(0.6);
  width: 110vw;
  height: 110%;
}

.jakartaee-10-white-paper-bg-back-layer-ctn {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -100;
  display: none;
  @media (min-width: 1700px) {
    display: block;
  }
}

.jakartaee-10-white-paper-bg-front-layer {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -10;
  background-image: url('images/release/release-10-download-mobile.jpg');
  @media (min-width: @screen-sm-min) {
    background-image: url('images/release/release-10-download.jpg');
  }
  @media (min-width: 1700px) {
    background-size: contain;
    background-position: center;
  }
}

.jakartaee-10-white-paper-download {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (min-width: @screen-sm-min) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  @media (min-width: 1700px) {
    width: 1200px;
  }
  .text-center {
    width: 100%;
    min-width: 400px;
    @media (min-width: @screen-sm-min) {
      width: 440px;
    }
    @media (min-width: @screen-sm-min) and (-ms-high-contrast: none) {
      width: 900px;
    }
    h2 {
      text-shadow: 0 0 20px rgba(250, 250, 250, 0.5);
    }
  }
}
