<h2 class="big-text-secondary orange margin-top-50">Our Vision</h2>
<div class="row margin-top-30 margin-bottom-60">
    <div class="col-sm-12">
        <p>The Jakarta EE working group will drive the evolution and broad
            adoption of technologies derived from or related to the Eclipse
            Enterprise for Java (EE4J) project. Eclipse Enterprise for Java (EE4) is
            an open source initiative to create technical specifications,
            implementations of those APIs, and technology compatibility kits for
            Java runtimes that enable development, deployment, and
            management of server-side and cloud-native applications. EE4) is
            based on the Java Platform, Enterprise Edition (Java EE) standards,
            and uses Java EE 8 as the baseline for creating new specifications and
            implementations.</p>
        <p><strong>Eclipse Foundation projects will provide technical implementations
            of API specifications and TCKs. The working group will:</strong></p>
    </div>
    <div class="col-sm-12">
        <ul>
            <li>Promote the &quot;Jakarta EE&quot; brand and its value in the marketplace.</li>
            <li>Provide vendor neutral marketing and other services to the Jakarta EE ecosystem.</li>
            <li>Define and manage a specification process to formalize the specifications that are defined within the scope of this working group.</li>
            <li>Define compatibility rules and a compatibility and branding process for implementations of these specifications to ensure application portability.</li>
            <li>Define licensing and intellectual property flows that encourage community participation, protect community members, and encourage usage.</li>
            <li>Manage the overall technical and business strategies for EE4J and related projects.</li>
            <li>Establish and drive a funding model that enables this working group and its community to operate on a sustainable basis.</li>
        </ul>
    </div>
</div>

<h3 class="big-text-secondary">Guiding Principles</h3>
<div class="row">
    <div class="col-sm-8">
        <p><strong>The Jakarta EE Working Group seeks to:</strong></p>
        <ul>
            <li>deliver more frequent releases</li>
            <li>lower barriers to participation</li>
            <li>develop the community</li>
            <li>manage the Jakarta EE brand on behalf the community</li>
        </ul>
    </div>
    <div class="col-sm-16">
        <p>Key to this approach is a community-based specification process, with everyone encouraged to participate in an open process that more accurately reflect the needs of the wider community.</p>
        <p>We expect the Jakarta EE platform to evolve rapidly, incorporating Java innovations from open source communities like Eclipse MicroProfile into new versions of the platform to help developers create portable cloud-native applications.</p>
        <p>Jakarta EE represents the best way to drive cloud-native, mission critical applications and build upon the decades of experience of real world deployments and developers.</p>
    </div>
</div>

<div class="row card-container">
    <div class="col-sm-8">
        <div class="card-panel panel panel-default">
            <div class="panel-heading">
                <img class="img-responsive" src="/images/about/working-group/charter.jpg" alt="Working Group Charter">
            </div>
            <div class="panel-body">
                <h4 class="h3 big-text"><a href="">Working Group Charter</a></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p><a class="big-text text-secondary uppercase" href="#">Learn More</a></p>
            </div>
        </div>
        
    </div>

    <div class="col-sm-8">
        <div class="card-panel panel panel-dark">
            <div class="panel-heading">
                <img class="img-responsive" src="/images/about/working-group/faq.jpg" alt="Jakarta EE FAQ">
            </div>
            <div class="panel-body">
                <h4 class="h3 big-text"><a class="white" href="">Jakarta EE FAQ</a></h4>
                <p class="white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p><a class="big-text text-secondary uppercase" href="#">Learn More</a></p>
            </div>
        </div>
        
    </div>

    <div class="col-sm-8">
        <div class=" card-panel panel panel-default text-center">
            <div class="panel-body">
                <img src="/images/about/working-group/learn.svg" alt="Learn about Membership" width="100">
                <h4 class="h3 big-text text-secondary"><a href="">Learn about<br> Membership</a></h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <p><a class="big-text text-secondary uppercase" href="#">Learn More</a></p>
            </div>
        </div>
        
    </div>

</div>