

<h2 class="big-text-secondary orange margin-top-20">{{ i18n "pages-committees-document" }}</h2>
<div class="row margin-top-30">
    <div class="col-sm-12 margin-bottom-30">
        <div class="row">
            <div class="col-xs-4"> 
                <p><img class="img-responsive" src="/images/icons/documents.png" alt="documents icon"></p>
            </div>
            <div class="col-xs-20">
                <h3 class="big-text"><a href="/documents/committees/primer-on-committee-responsibilities.pdf">{{ i18n "pages-committees-document-responsibilities-title" }}</a></h3>
                <p class="match-height-item-by-row">{{ i18n "pages-committees-document-responsibilities-text" }}</p>
                <p class="featured-text-sm uppercase text-secondary"><a href="/documents/committees/primer-on-committee-responsibilities.pdf">{{ i18n "pages-committees-document-download" }}</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <p><img class="img-responsive" src="/images/icons/documents.png" alt="documents icon"></p>
            </div>
            <div class="col-xs-20">
                <h3 class="big-text"><a href="/documents/website-guidelines">{{ i18n "pages-committees-website-guidelines-title" }}</a></h3>
                <p class="match-height-item-by-row">{{ i18n "pages-committees-website-guidelines-text" }}</p>
                <p class="featured-text-sm uppercase text-secondary"><a href="/documents/website-guidelines">{{ i18n "pages-committees-website-guidelines-download" }}</a></p>
            </div>
        </div>
    </div>
</div>
