
<div class="row margin-top-60">
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="datasheets" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/datasheets.svg" width="60" class="margin-bottom-15" alt="Datasheets">
            <h2 class="big-text text-secondary h3">{{ i18n "pages-community-adopt-a-spec-title" }}</h2>
            <ul>
                <li><a href="/community/adopt-a-spec/">{{ i18n "pages-community-adopt-a-spec-text" }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="specifications" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/specification.svg" width="60" class="margin-bottom-15" alt="Jakarta EE Events">
            <h2 class="big-text text-secondary h3">{{ i18n "pages-community-adopt-a-spec-events" }}</h2>
            <ul>
                <li><a href="/events/">{{ i18n "pages-community-adopt-a-spec-events-other" }}</a></li>
            </ul>
        </div>
    </div>
    
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="specifications" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/jakartaone-livestream.svg" width="80" alt="Jakarta One LiveStream">
            <h2 class="big-text text-secondary h3">{{ i18n "pages-community-jakartaone-livestream" }}</h2>
            <ul>
                <li><a href="https://jakartaone.org/">{{ i18n "pages-community-jakartaone-livestream-latest" }}</a></li>
                <li><a href="https://jakartaone.org/documents/jakartaone-language-host-process.pdf">{{ i18n "pages-community-jakartaone-livestream-language" }}</a></li>
            </ul>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="documentation" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/documentation.svg" width="60" class="margin-bottom-15" alt="Documentation">
            <h2 class="big-text big-text text-secondary h3">{{ i18n "pages-community-connect-title" }}</h2>
            <ul>
                <li><a href="/connect/">{{ i18n "pages-community-connect-link" }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="livestream" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/livestream.svg" width="60" class="margin-bottom-15" alt="Jakarta One LiveStream">
            <h2 class="big-text text-secondary h3"><a href="https://www.meetup.com/jakartatechtalks_/">{{ i18n "pages-community-meetup-title" }}</a></h2>
            <ul>
                <li><a href="https://www.meetup.com/jakartatechtalks_/">{{ i18n "pages-community-meetup-tech-talk" }}</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdbG1FTITUCtzk36N0mc_981rMnuThqFLQMHJg2IFxOTkPoRQ/viewform">{{ i18n "pages-community-meetup-sign-up" }}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="livestream" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/socialcards.svg" width="60" class="margin-bottom-15" alt="Jakarta One LiveStream">
            <h2 class="big-text text-secondary h3"><a href="https://www.meetup.com/jakartatechtalks_/">{{ i18n "pages-community-videos-title" }}</a></h2>
            <ul>
                <li><a href="/community/videos/">{{ i18n "pages-community-videos-watch" }}</a></li>
                <li><a href="https://www.youtube.com/c/JakartaEE">{{ i18n "pages-community-videos-subscribe" }}</a></li>
            </ul>
        </div>
    </div>
</div>