
<div class="row margin-top-60">
    <div class="col-sm-6 card-container padding-bottom-0 padding-top-0">
        <div id="datasheets" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/datasheets.svg" width="60" class="margin-bottom-15" alt="Datasheets">
            <h2 class="big-text text-secondary h3">Adopt a Spec</h2>
            <ul>
                <li><a href="/community/adopt-a-spec/">Learn about the Adopt a Spec Program</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 card-container padding-bottom-0 padding-top-0">
        <div id="specifications" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/specification.svg" width="60" class="margin-bottom-15" alt="Jakarta EE Specification Projects">
            <h2 class="big-text text-secondary h3">Events</h2>
            <ul>
                <li><a href="https://jakartaone.org/">Find the latest JakartaOne Livestream</a></li>
                <li><a href="/community/events/">Find the latest Cloud Native Java Events</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 card-container padding-bottom-0 padding-top-0">
        <div id="documentation" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/documentation.svg" width="60" class="margin-bottom-15" alt="Documentation">
            <h2 class="big-text big-text text-secondary h3">Stay Connected</h2>
            <ul>
                <li><a href="/connect/">Find the Communication Channels</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 card-container padding-bottom-0 padding-top-0">
        <div id="livestream" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/livestream.svg" width="60" class="margin-bottom-15" alt="Jakarta One LiveStream">
            <h2 class="big-text text-secondary h3"><a href="https://www.meetup.com/jakartatechtalks_/">TechTalk Meet-Ups</a></h2>
            <ul>
                <li><a href="https://www.meetup.com/jakartatechtalks_/">Find the latest Jakarta TechTalk</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdbG1FTITUCtzk36N0mc_981rMnuThqFLQMHJg2IFxOTkPoRQ/viewform">Sign up to host a talk</a></li>
            </ul>
        </div>
    </div>
</div>
