
<div class="row margin-top-60 margin-bottom-60">
    <div class="col-sm-6 card-container padding-bottom-0 padding-top-0">
        <div id="documentation" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/documentation.svg" width="60" class="margin-bottom-15" alt="Documentation">
            <h3 class="big-text big-text text-secondary h4"><a href="/connect/">Stay Connected</a></h3>
        </div>
    </div>
    <div class="col-sm-6 card-container padding-bottom-0 padding-top-0">
        <div id="datasheets" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/datasheets.svg" width="60" class="margin-bottom-15" alt="Datasheets">
            <h3 class="big-text text-secondary h4"><a href="/community/adopt-a-spec/">Adopt a Spec</a></h3>
        </div>
    </div>
    <div class="col-sm-6 card-container padding-bottom-0 padding-top-0">
        <div id="specifications" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/specification.svg" width="60" class="margin-bottom-15" alt="Jakarta EE Specification Projects">
            <h3 class="big-text text-secondary h4"><a href="https://jakartaone.org/">Jakarta One LiveStream</a></h3>
        </div>
    </div>
    <div class="col-sm-6 card-container padding-bottom-0 padding-top-0">
        <div id="livestream" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/livestream.svg" width="60" class="margin-bottom-15" alt="Jakarta One LiveStream">
            <h3 class="big-text text-secondary h4"><a href="/resources/#meetups">Tech Talk Meet-Ups</a></h3>
        </div>
    </div>
</div>
