

<h2 class="heading-bold italic orange uppercase margin-top-50">Documents</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-20">
                <h3><a class="heading-bold" href="/documents/committees/primer-on-committee-responsibilities.pdf">Roles of Jakarta EE Committees during a Release Cycle</a></h3>
                <p>This document provides a short summary of the roles and responsibilities of Jakarta EE Working Group Committees 
                    during Jakarta EE releases.</p>
                <p><a class="heading-bold" href="/documents/committees/primer-on-committee-responsibilities.pdf">Download Document</a></p>
            </div>
        </div>
        
    </div>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-20">
                <h3><a class="heading-bold" href="/documents/website-guidelines">Guidelines for jakarta.ee website maintainer</a></h3>
                <p>This document provides a short summary for a selected jakarta.ee website maintainers who are also Jakarta EE Working Group Committees members.</p>
                <p><a class="heading-bold" href="/documents/website-guidelines">Download Document</a></p>
            </div>
        </div>
    </div>
</div>
