

<h2 class="big-text-secondary orange margin-top-20">文档</h2>
<div class="row margin-top-30">
    <div class="col-sm-12 margin-bottom-30">
        <div class="row">
            <div class="col-xs-4"> 
                <p><img class="img-responsive" src="/images/icons/documents.png" alt="documents icon"></p>
            </div>
            <div class="col-xs-20">
                <h3 class="big-text"><a href="/documents/committees/primer-on-committee-responsibilities.pdf">在每一个发布周期 Jakarta EE 委员会的角色</a></h3>
                <p class="match-height-item-by-row">本文件简要介绍了 Jakarta EE 版本发布过程中，工作组委员会的作用和职责.</p>
                <p class="big-text uppercase text-secondary"><a href="/documents/committees/primer-on-committee-responsibilities.pdf">下载文档</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-4">
                <p><img class="img-responsive" src="/images/icons/documents.png" alt="documents icon"></p>
            </div>
            <div class="col-xs-20">
                <h3 class="big-text"><a href="/documents/website-guidelines">jakarta.ee网站维护者指引</a></h3>
                <p class="match-height-item-by-row">选定的jakarta.ee网站维护人员同时也是Jakarta EE 工作组委员会成员，本文为上述人员提供了简短的摘要.</p>
                <p class="big-text uppercase text-secondary"><a href="/documents/website-guidelines">下载文档</a></p>
            </div>
        </div>
    </div>
</div>
