<div class="row">
    <div class="col-md-16">{{ i18n "compatibility-intro-text" | safeHTML }}</div>
    <div class="col-md-8"><img class="compatible-logo img img-responsive" src="/images/jakarta/jakarta-ee-compatible-logo-color.svg" title="{{ i18n "jakarta-ee-logo-alt" }}"></div>
</div>
  
<style>
  div.product-list .grid-center { display: flex; align-items: center;}
</style>

<div class="row">
  <div class="col-md-8 col-md-offset-16" style="text-align: center;"><a class="btn btn-lg btn-secondary" href="https://github.com/eclipse-ee4j/jakartaee-platform/issues?q=is%3Aissue+is%3Aclosed+label%3Acertification">Compatibility Requests</a></div>
</div>

