<div class="row">
  <div class="col-md-8">
    <p><img class="compatible-logo img img-responsive" src="/images/jakarta/jakarta-ee-compatible-logo-color.svg" title="{{ i18n "jakarta-ee-logo-alt" }}"></p>
  </div>  
  <div class="col-md-16">{{ i18n "compatibility-intro-text" | safeHTML }}</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1" style="text-align: center;"><a class="btn btn-lg btn-secondary" href="https://github.com/eclipse-ee4j/jakartaee-platform/issues?q=is%3Aissue+is%3Aclosed+label%3Acertification">Compatibility Requests</a></div>
</div>

