<div class="row">
  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/envelope-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-mailing-list-community-title" }}</h2>
          <p>{{ i18n "connect-mailing-list-community-body" }}</p>
          <p>
            <a class="btn btn-primary" href="{{ i18n "connect-mailing-list-community-link" }}">{{ i18n "connect-mailing-lists-subscribe" }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/envelope-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-mailing-list-working-group-title" }}</h2>
          <p>{{ i18n "connect-mailing-list-working-group-body" }}</p>
          <p><a class="btn btn-primary" href="{{ i18n "connect-mailing-list-working-group-link" }}">{{ i18n "connect-mailing-lists-subscribe" }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/envelope-users-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-mailing-list-projects-title" }}</h2>
          <p>{{ i18n "connect-mailing-list-projects-body" }}</p>
          <p><a class="btn btn-primary" href="mailing-lists/">{{ i18n "connect-mailing-list-projects-link-text" }}</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/slack-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-slack-title" }}</h2>     
          <p>{{ i18n "connect-slack-subtitle" }}</p>
          <form action="{{ i18n "connect-slack-link" }}" method="get" target="_blank">
            <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
            <input type="hidden" name="id" value="98ae69e304">
            <input type="submit" value="{{ i18n "connect-slack-link-join" }}" name="join" class="button btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/updates-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-updates-title" }}</h2>
          <p>{{ i18n "connect-updates-body"}}</p>
          <ul class="list-inline">
            <li><a class="btn btn-primary" href="{{ i18n "connect-updates-edit-link" }}">{{ i18n "connect-updates-edit-text" }}</a></li>
            <li>{{ i18n "connect-updates-link-divider-text" }}</li>
            <li><a class="" href="{{ i18n "connect-updates-create-link" }}">{{ i18n "connect-updates-create-text" }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/envelope-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-newsletter-title" }}</h2>     
          <p>{{ i18n "connect-newsletter-subtitle" }}</p>
          <form action="{{ i18n "connect-newsletter-link" }}" method="post" target="_blank">
            <div class="form-group col-md-12 col-md-offset-6 text-center">
             <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
             <input type="hidden" name="id" value="98ae69e304">
            </div>
            <div class="col-md-24">
              <ul class="list-inline">
                <li><input type="submit" value="{{ i18n "connect-newsletter-subscribe" }}" name="subscribe" class="button btn btn-primary"></li>
                <li><a class="btn btn-primary" href="/community/newsletter">{{ i18n "connect-newsletter-view-archives" }}</a></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/calendar-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-community-calendar-title" }}</h2>
          <p data-mh="calendar-text-containers">{{ i18n "connect-community-calendar-body" }}</p>
          <p><a class="btn btn-primary" href="{{ i18n "connect-community-calendar-link" }}">{{ i18n "connect-mailing-lists-subscribe" }}</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/document-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-community-folder-title" }}</h2>
          <p data-mh="calendar-text-containers">{{ i18n "connect-community-folder-body" }}</p>
          <p><a class="btn btn-primary" href="{{ i18n "connect-community-folder-link" }}">{{ i18n "connect-community-folder-link-text" }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/bubbles-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-tech-talk-title" }}</h2>
          <p>{{ i18n "connect-tech-talk-body" }}</p>
          <ul class="list-inline">
            <li><a class="btn btn-primary" href="{{ i18n "connect-tech-talk-link-1" }}">{{ i18n "connect-tech-talk-link-1-text" }}</a></li>
            <li><a class="btn btn-primary" href="{{ i18n "connect-tech-talk-link-2" }}">{{ i18n "connect-tech-talk-link-2-text" }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 card-container padding-bottom-0 padding-top-0">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <div class="row">
        <div class="col-sm-6">
          <img src="/images/icons/users-blue.svg">
        </div>
        <div class="col-sm-18">
          <h2 class="h3 big-text text-secondary">{{ i18n "connect-specification-calendar-title" }}</h2>
          <p data-mh="calendar-text-containers">{{ i18n "connect-specification-calendar-body" }}</p>
          <p><a class="btn btn-primary" href="{{ i18n "connect-specification-calendar-link" }}">{{ i18n "connect-specification-calendar-link-text" }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

