<h2 class="text-center heading-line"><span>Mailing Lists</span></h2>

<div class="row text-center">
  <div class="col-sm-12">
    <h3>Jakarta EE Community Mailing List</h3>
    <p>jakarta.ee-community is the mailing list for Jakarta EE community discussions. Subscribe to this list for all things Jakarta EE</p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://accounts.eclipse.org/mailing-list/jakarta.ee-community">Subscribe</a>
    </p>
  </div>
  <div class="col-sm-12">
    <h3>Jakarta EE Working Group Mailing List</h3>
    <p>jakarta.ee-wg is the mailing list for the Jakarta EE Working Group. Subscribe to this list to share general information regarding Jakarta EE</p>
    <p><a class="btn btn-primary btn-lg" href="https://accounts.eclipse.org/mailing-list/jakarta.ee-wg">Subscribe</a>
    </p>
  </div>
</div>
<div class="row text-center margin-top-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Project Mailing Lists</span>
    </h2>
    <p>Want to get involved? Sign up to the Jakarta EE project mailing lists here.</p>
    <p><a class="btn btn-primary btn-lg" href="mailing-lists/"> Mailing Lists</a></p>
  </div>
</div>
<div class="row text-center margin-top-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Slack</span>
    </h2>     
    <h3>Join our Slack Workspace</h3>
    <form action="https://join.slack.com/t/eclipsefoundationhq/shared_invite/enQtOTMyNjcwMDAyNTQ2LWRkNjRhZWViM2IzMDgyNDFmZmY1MGMxMWRhMDljZWRlNDkxMmU0YzhlYTc3ZGY1M2M2YTYxMDhlNDI4OTQ2N2E" method="get" target="_blank">
      <div class="form-group col-md-12 col-md-offset-6 text-center">
       <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
       <input type="hidden" name="id" value="98ae69e304">
      </div>
      <div class="col-md-24">
        <input type="submit" value="Join" name="join" class="button btn btn-primary btn-lg">
      </div>
    </form>
  </div>
</div>
<div class="row text-center margin-top-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Newsletter</span>
    </h2>     
    <h3>Sign up to our Newsletter</h3>
    <form action="https://eclipsecon.us6.list-manage.com/subscribe/post" method="post" target="_blank">
      <div class="form-group col-md-12 col-md-offset-6 text-center">
       <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
       <input type="hidden" name="id" value="98ae69e304">
      </div>
      <div class="col-md-24">
        <input type="submit" value="Subscribe" name="subscribe" class="button btn btn-primary btn-lg">
      </div>
    </form>
  </div>
</div>
<div class="row text-center margin-top-50 margin-bottom-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Updates</span>
    </h2>
    <p>Receive updates from the Eclipse Foundation on Jakarta EE and other Eclipse projects, events and community announcements</p>
    <p><a class="btn btn-primary btn-lg" href="https://accounts.eclipse.org/user/edit#open_tab_privacy"> Edit Preferences</a></p>
    <p>- Or -</p>
    <p> <a class="" href="https://accounts.eclipse.org/user/register">Create Account</a></p>
  </div>
</div>
<div class="row text-center margin-top-50 margin-bottom-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Jakarta EE Monthly Update Calls</span>
    </h2>
    <p>Join the Jakarta EE Monthly Update calls to learn more about Jakarta EE-related plans</p>
    <p><a class="btn btn-primary btn-lg" href="https://calendar.google.com/calendar/embed?src=eclipse-foundation.org_3281qms6riu4kdf354jn5idon0%40group.calendar.google.com&ctz=America%2FToronto">Subscribe</a></p>
  </div>
</div>

<div class="row text-center margin-bottom-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Jakarta Blogs</span>
    </h2>
    <p>Visit Jakartablogs.ee to stay updated with posts from our global community on Jakarta EE news, technologies, best practices, and compatible products.</p>
    <p><a class="btn btn-primary btn-lg" href="https://jakartablogs.ee">View</a></p>
  </div>
</div>

<div class="row text-center margin-bottom-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line"><span>Get Social</span></h2>
    <p>Stay up-to-date with all things Jakarta EE by following us on social media!</p>
    <ul class="list-inline big">
      <li>
        <a class="social-media-link fa-stack fa-lg" href="https://twitter.com/JakartaEE">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </a>
      </li>
      <li>
        <a class="social-media-link fa-stack fa-lg" href="https://www.facebook.com/JakartaEE">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </a>
      </li>
      <li>
        <a class="social-media-link fa-stack fa-lg" href="https://www.youtube.com/user/EclipseFdn">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </a>
      </li>
      <li>
        <a class="social-media-link fa-stack fa-lg" href="https://www.linkedin.com/groups/13597511/">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
