<h2 class="text-center heading-line"><span>邮件列表</span></h2>

<div class="row text-center">
  <div class="col-sm-12">
    <h3>Jakarta EE 社区邮件列表</h3>
    <p>jakarta.ee-community 邮件列表用于 Jakarta EE 的社区讨论. 订阅这个列表来了解最全的Jakarta EE 消息</p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://accounts.eclipse.org/mailing-list/jakarta.ee-community">订阅</a>
    </p>
  </div>
  <div class="col-sm-12">
    <h3>Jakarta EE 工作组邮件列表</h3>
    <p>jakarta.ee-wg 邮件列表用于 Jakarta EE 工作组. 订阅这个列表来了解Jakarta EE的一般信息</p>
    <p><a class="btn btn-primary btn-lg" href="https://accounts.eclipse.org/mailing-list/jakarta.ee-wg">订阅</a>
    </p>
  </div>
</div>
<div class="row text-center margin-top-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>项目邮件列表</span>
    </h2>
    <p>想加入么? 注册Jakarta EE 项目邮件列表.</p>
    <p><a class="btn btn-primary btn-lg" href="mailing-lists/"> 邮件列表</a></p>
  </div>
</div>
<div class="row text-center margin-top-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Slack</span>
    </h2>     
    <h3>加入我们的 Slack 空间</h3>
    <form action="https://join.slack.com/t/eclipsefoundationhq/shared_invite/zt-crh7mheq-3on2tophEuvQTUGidEAWlg" method="get" target="_blank">
      <div class="form-group col-md-12 col-md-offset-6 text-center">
       <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
       <input type="hidden" name="id" value="98ae69e304">
      </div>
      <div class="col-md-24">
        <input type="submit" value="Join" name="join" class="button btn btn-primary btn-lg">
      </div>
    </form>
  </div>
</div>
<div class="row text-center margin-top-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>新闻稿</span>
    </h2>     
    <h3>订阅我们的新闻稿</h3>
    <form action="https://eclipsecon.us6.list-manage.com/subscribe/post" method="post" target="_blank">
      <div class="form-group col-md-12 col-md-offset-6 text-center">
       <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
       <input type="hidden" name="id" value="98ae69e304">
      </div>
      <div class="col-md-24">
        <input type="submit" value="Subscribe" name="subscribe" class="button btn btn-primary btn-lg">
      </div>
    </form>
  </div>
</div>
<div class="row text-center margin-top-50 margin-bottom-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>最新消息</span>
    </h2>
    <p>从 Eclipse Foundation 获取 Jakarta EE 以及其他 Eclipse 项目的新闻、事件和社区公告</p>
    <p><a class="btn btn-primary btn-lg" href="https://accounts.eclipse.org/user/edit#open_tab_privacy"> 修改设置</a></p>
    <p>- 或者 -</p>
    <p> <a class="" href="https://accounts.eclipse.org/user/register">新建账号</a></p>
  </div>
</div>
<div class="row text-center margin-top-50 margin-bottom-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Jakarta EE 月度会议</span>
    </h2>
    <p>加入 Jakarta EE 月度会议以了解 Jakarta EE 的相关计划</p>
    <p><a class="btn btn-primary btn-lg" href="https://calendar.google.com/calendar/embed?src=eclipse-foundation.org_3281qms6riu4kdf354jn5idon0%40group.calendar.google.com&ctz=America%2FToronto">订阅</a></p>
  </div>
</div>

<div class="row text-center margin-bottom-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line">
      <span>Jakarta 博客</span>
    </h2>
    <p>访问 Jakartablogs.ee 阅读来自全球社区的文章，内容包括Jakarta EE 新闻、技术、最佳实践和兼容产品</p>
    <p><a class="btn btn-primary btn-lg" href="https://jakartablogs.ee">查看</a></p>
  </div>
</div>

<div class="row text-center margin-bottom-30">
  <div class="col-md-18 col-md-offset-3">
    <h2 class="text-center heading-line"><span>社交账号</span></h2>
    <p>关注我们的社交账号，了解 Jakarta EE 的最新消息</p>
    <ul class="list-inline big">
      <li>
        <a class="social-media-link fa-stack fa-lg" href="https://twitter.com/JakartaEE">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </a>
      </li>
      <li>
        <a class="social-media-link fa-stack fa-lg" href="https://www.facebook.com/JakartaEE">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </a>
      </li>
      <li>
        <a class="social-media-link fa-stack fa-lg" href="https://www.youtube.com/channel/UC4M7h5b6elu9VlzjLfzuXyg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </a>
      </li>
      <li>
        <a class="social-media-link fa-stack fa-lg" href="https://www.linkedin.com/groups/13597511/">
        <i class="fa fa-circle-thin fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
