<table>
<tbody>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/bean-validation-dev">bean-validation-dev</a></td><td>bean-validation developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/ca-dev">ca-dev</a></td><td>EE4J Eclipse Project for Common Annotations developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/cdi-dev">cdi-dev</a></td><td>cdi developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/cu-dev">cu-dev</a></td><td>EE4J Eclipse Project for Concurrency Utilities developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/ee4j-build">ee4j-build</a></td><td>EE4J build and releng discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/ee4j-dev">ee4j-dev</a></td><td>EE4J Parent project developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/ee4j-pmc">ee4j-pmc</a></td><td>EE4J PMC Discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/ejb-dev">ejb-dev</a></td><td>EE4J Eclipse Project for EJB developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/el-dev">el-dev</a></td><td>EE4J Eclipse Project for Expression Language developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/es-dev">es-dev</a></td><td>EE4J Eclipse Project for Enterprise Security developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/interceptors-dev">interceptors-dev</a></td><td>EE4J Eclipse Project for Interceptors developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jacc-dev">jacc-dev</a></td><td>EE4J Eclipse Project for JACC developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jaf-dev">jaf-dev</a></td><td>EE4J Eclipse Project for JAF developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakarta.ee-community">jakarta.ee-community</a></td><td>Jakarta EE community discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakarta.ee-spec">jakarta.ee-spec</a></td><td>Jakarta specification discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakarta.ee-wg">jakarta.ee-wg</a></td><td>Jakarta EE Working Group</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakartabatch-dev">jakartabatch-dev</a></td><td>jakartabatch developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakartaee-examples-dev">jakartaee-examples-dev</a></td><td>jakartaee-examples developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakartaee-platform-dev">jakartaee-platform-dev</a></td><td>EE4J Eclipse Jakarta EE Platform developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakartaee-spec-project-leads">jakartaee-spec-project-leads</a></td><td>JakartaEE Spec Project Leadership discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakartaee-stable-dev">jakartaee-stable-dev</a></td><td>EE4J Eclipse Project for Stable Jakarta EE APIs developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jakartaee-tck-dev">jakartaee-tck-dev</a></td><td>EE4J Eclipse Jakarta EE TCK developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jaspic-dev">jaspic-dev</a></td><td>EE4J Eclipse Project for JASPIC developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/javamail-dev">javamail-dev</a></td><td>EE4J Eclipse Project for JavaMail developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jaxb-dev">jaxb-dev</a></td><td>EE4J Eclipse Project for JAXB API developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jaxrs-dev">jaxrs-dev</a></td><td>EE4J Eclipse Project for JAX-RS developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jaxws-dev">jaxws-dev</a></td><td>EE4J Eclipse Project for JAX-WS developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jca-dev">jca-dev</a></td><td>EE4J Eclipse Project for JCA developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jms-dev">jms-dev</a></td><td>EE4J Eclipse Project for JMS developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jpa-dev">jpa-dev</a></td><td>EE4J Eclipse Project for JPA developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jsonb-dev">jsonb-dev</a></td><td>EE4J Eclipse Project for JSON-B (binding) developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jsonp-dev">jsonp-dev</a></td><td>EE4J Eclipse Project for JSON Processing developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jsp-dev">jsp-dev</a></td><td>EE4J Eclipse Project for JSP developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jstl-dev">jstl-dev</a></td><td>EE4J Eclipse Project for JSTL developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jta-dev">jta-dev</a></td><td>EE4J Eclipse Project for JTA developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/jts-dev">jts-dev</a></td><td>JTS project developer mailing list</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/nosql-dev">nosql-dev</a></td><td>nosql developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/servlet-dev">servlet-dev</a></td><td>EE4J Eclipse Project for Servlet developer discussions</td> </tr>
    <tr><td><a href="https://accounts.eclipse.org/mailing-list/websocket-dev">websocket-dev</a></td><td>EE4J Eclipse Project for WebSocket developer discussions</td> </tr>
   </tbody>
   </table>
