<h2 class="big-text-secondary margin-bottom-20">Jakarta EE Newsletters Archives</h2>

<div class="row margin-bottom-40">
  <div class="col-sm-8 card-container">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <h3 class="big-text text-secondary"><i class="fa fa-calendar-o" aria-hidden="true"></i> 2020</h3>
      <ul>
        <li><a href="https://www.eclipse.org/community/eclipse_newsletter/2020/may/" target="_blank">May: Jakarta EE 9 and Beyond</a></li>
        <li><a href="https://www.eclipse.org/community/eclipse_newsletter/2020/february/" target="_blank">February: Jakarta EE: The Next Phase of Evolution</a></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-8 card-container">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <h3 class="big-text text-secondary"><i class="fa fa-calendar-o" aria-hidden="true"></i> 2019</h3>
      <ul>
        <li><a href="https://www.eclipse.org/community/eclipse_newsletter/2019/november/" target="_blank">November: Jakarta EE Takes Off</a></li>
        <li><a href="https://www.eclipse.org/community/eclipse_newsletter/2019/august/" target="_blank">August: Jakarta EE 8 Preview</a></li>
        <li><a href="https://www.eclipse.org/community/eclipse_newsletter/2019/may/" target="_blank">May: Onwards and Upwards for the Jakarta Community</a></li>
        <li><a href="http://www.eclipse.org/community/eclipse_newsletter/2019/february/" target="_blank">February: Jakarta EE - What's New in 2019?</a></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-8 card-container">
    <div class="card-panel bordered panel panel-default match-height-item-by-row">
      <h3 class="big-text text-secondary"><i class="fa fa-calendar-o" aria-hidden="true"></i> 2018</h3>
      <ul>
        <li><a href="http://www.eclipse.org/community/eclipse_newsletter/2018/november/" target="_blank">November: Jakarta EE: Latest Developments</a></li>
        <li><a href="https://www.eclipse.org/community/eclipse_newsletter/2018/august/" target="_blank">August: Exploring Jakarta EE Technologies</a></li>
        <li><a href="http://www.eclipse.org/community/eclipse_newsletter/2018/may/" target="_blank">May: A First Look at Jakarta EE</a></li>
      </ul>
    </div>
  </div>
</div>


<form action="https://eclipsecon.us6.list-manage.com/subscribe/post" method="post" target="_blank" class="text-center margin-bottom-60">
  <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
  <input type="hidden" name="id" value="98ae69e304">
  <input type="submit" value="{{ i18n "pages-newsletter-sign-up-to-our-newsletter"}}" name="subscribe" class="button btn btn-primary btn-lg">
</form>
