
{{ $allReleases := where .Site.Pages "Section" "release" }}
{{ $newRelease := index (first 1 (where $allReleases "Params.under_development" "ne" true)) 0 }}
<div class="row margin-top-60">
    {{ range (where .Site.Pages "Section" "release") }}
        {{ range sort .Pages "Params.date" "desc" }}
            <div class="col-sm-24 card-container padding-bottom-0 padding-top-0">
                <div id="datasheets" class="card-panel bordered alternate panel panel-default match-height-item-by-row">
                    {{ if eq $newRelease.Permalink .Permalink }} <span class="new-release">NEW!</span> {{ end }}
                    {{ if .Params.under_development }} <span class="new-release">WIP</span> {{ end }}
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="big-text">{{ .Title }}</h2>
                        </div>
                        {{ if .Params.under_development }}
                          <p class="big text-secondary text-right"><strong>{{ i18n "pages-specification-jakarta-ee-release-under-development" }}</strong></p>
                        {{ else }}
                          <p class="big text-secondary text-right"><strong>{{ .Date.Format "January 2, 2006" }}</strong></p>
                        {{ end }}
                    </div>
                    
                    <p class="subtitle">{{ .Params.subtitle | plainify }}</p>
                    <p>{{ .Description }}</p>
                    <ul class="list-inline margin-top-30 margin-bottom-0">
                        <li><a class="btn btn-secondary card-panel-btn" href="{{ .Permalink }}"><i class="fa fa-code big" aria-hidden="true"></i> {{ i18n "pages-specification-jakarta-ee-release-release-page" }}</a></li>
                        {{ if .Params.press_release_link }}<li><a class="btn btn-secondary card-panel-btn" href="{{ .Params.press_release_link }}"><i class="fa fa-file-text-o big" aria-hidden="true"></i> {{ i18n "pages-specification-jakarta-ee-release-press-release" }}</a></li>{{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}
    {{ end }}
    
</div>