<h2 class="big-text-secondary margin-bottom-40">View our Resources</h2>

<div class="row">
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="documentation" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/documentation.svg" width="60" class="margin-bottom-15" alt="Documentation">
            <h3 class="big-text big-text text-secondary h4">Documentation</h3>
            <ul>
                <li><a href="https://eclipse-ee4j.github.io/jakartaee-tutorial/">Jakarta EE Tutorial</a></li>
                <li><a href="https://eclipse-ee4j.github.io/jakartaee-firstcup/">Jakarta EE First Cup</a></li>
                <li><a href="https://github.com/eclipse-ee4j/cargotracker">CargoTracker Example Application</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="datasheets" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/datasheets.svg" width="60" class="margin-bottom-15" alt="Datasheets">
            <h3 class="big-text text-secondary h4">Datasheets</h3>
            <ul>
                <li><a href="JakartaEE-Datasheet-July172020_final.pdf">Jakarta EE 9 Tools Vendor Datasheet</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="specifications" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/specification.svg" width="60" class="margin-bottom-15" alt="Jakarta EE Specification Projects">
            <h3 class="big-text text-secondary h4">Jakarta EE <br>Specification Projects</h3>
            <ul>
                <li><a href="/specifications/">List of Projects</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="livestream" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/livestream.svg" width="60" class="margin-bottom-15" alt="Jakarta One LiveStream">
            <h3 class="big-text text-secondary h4">Jakarta One LiveStream</h3>
            <ul>
                <li><a href="#">Find the Latest Events</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="presentations" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/presentations.svg" width="60" class="margin-bottom-15" alt="Presentations">
            <h3 class="big-text text-secondary h4">Presentations</h3>
            <ul>
                <li><a href="#">List of Projects</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="surveys" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/surveys.svg" width="60" class="margin-bottom-15" alt="Surveys">
            <h3 class="big-text text-secondary h4">Surveys</h3>
            <ul>
                <li><a href="/documents/insights/2018-jakarta-ee-developer-survey.pdf">2018 Developer Survey</a></li>
                <li><a href="https://outreach.jakartaee.org/jakarta-ee-2019-developer-survey">2019 Developer Survey</a></li>
                <li><a href="https://outreach.jakartaee.org/2020-developer-survey-report">2020 Developer Survey</a></li>
                <li><a href="https://outreach.jakartaee.org/2021-developer-survey-report?utm_campaign=2021%20Jakarta%20EE%20Developer%20Survey&amp;utm_source=resources%20page">2021 Jakarta EE Developer Survey</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="livestream" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/casestudies.svg" width="60" class="margin-bottom-15" alt="Case Studies">
            <h3 class="big-text text-secondary h4">Case Studies</h3>
            <ul>
                <li><a href="https://outreach.eclipse.foundation/payara-services-open-source-case-study">Payara Services Gains an Equal Footing With Industry Leaders at the Eclipse Foundation</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="presentations" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/ebooks.svg" width="60" class="margin-bottom-15" alt="eBooks">
            <h3 class="big-text text-secondary h4">eBooks</h3>
            <ul>
                <li><a href="https://outreach.jakartaee.org/cloud-native-java-ebook">Charting a Course for Cloud Native Java</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="surveys" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/infographics.svg" width="60" class="margin-bottom-15" alt="Infographics">
            <h3 class="big-text text-secondary h4">Infographics</h3>
            <ul>
                <li><a href="/documents/insights/2018-jakarta-ee-survey-infographic.pdf">2018 Jakarta EE survey infographic</a></li>
                <li><a href="https://f.hubspotusercontent30.net/hubfs/4753786/JakartaEE-Infographic.pdf?utm_campaign=2021%20Jakarta%20EE%20Developer%20Survey&utm_source=resources">Jakarta EE Developer Survey Findings 2020</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0 col-sm-offset-4">
        <div id="livestream" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/socialcards.svg" width="60" class="margin-bottom-15" alt="Social Cards">
            <h3 class="big-text text-secondary h4">Social Cards</h3>
            <ul>
                <li><a href="https://jakarta.ee/resources/community-cards">Jakarta EE Community Cards</a></li>
                <li><a href="https://jakarta.ee/resources/images/completed-jakarta-developer-survey.gif">Completed the Jakarta EE Survey</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8 card-container padding-bottom-0 padding-top-0">
        <div id="presentations" class="card-panel bordered panel panel-default match-height-item-by-row">
            <img src="/images/icons/whitepapers.svg" width="60" class="margin-bottom-15" alt="White Papers">
            <h3 class="big-text text-secondary h4">White Papers</h3>
            <ul>
                <li><a href="https://outreach.jakartaee.org/white-paper-java-applications">Why Jakarta EE Is the Right Choice for Today’s Java Applications</a></li>
            </ul>
        </div>
    </div>
</div>