<h2 class="big-text-secondary margin-bottom-40">View our Resources</h2>

<div class="row">
    <div class="col-sm-8">
        <div id="documentation" class="bordered-box match-height-item-by-row">
            <img src="/images/icons/documentation.svg" width="40" class="margin-bottom-15">
            <h3 class="text-secondary h4">Documentation</h3>
            <ul>
                <li><a href="https://eclipse-ee4j.github.io/jakartaee-tutorial/">Jakarta EE Tutorial</a></li>
                <li><a href="https://eclipse-ee4j.github.io/jakartaee-firstcup/">Jakarta EE First Cup</a></li>
                <li><a href="https://github.com/eclipse-ee4j/cargotracker">CargoTracker Example Application</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div id="datasheets" class="bordered-box match-height-item-by-row">
            <img src="/images/icons/datasheets.svg" width="40" class="margin-bottom-15">
            <h3 class="text-secondary h4">Datasheets</h3>
            <ul>
                <li><a href="JakartaEE-Datasheet-July172020_final.pdf">Jakarta EE 9 Tools Vendor Datasheet</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div id="specifications" class="bordered-box match-height-item-by-row">
            <img src="/images/icons/documentation.svg" width="40" class="margin-bottom-15">
            <h3 class="text-secondary h4">Jakarta EE <br>Specification Projects</h3>
            <ul>
                <li><a href="/specifications/">List of Projects</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <div id="livestream" class="bordered-box match-height-item-by-row">
            <img src="/images/icons/livestream.svg" width="40" class="margin-bottom-15">
            <h3 class="text-secondary h4">Jakarta One LiveStream</h3>
            <ul>
                <li><a href="#">Find the Latest Events</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div id="presentations" class="bordered-box match-height-item-by-row">
            <img src="/images/icons/presentations.svg" width="40" class="margin-bottom-15">
            <h3 class="text-secondary h4">Presentations</h3>
            <ul>
                <li><a href="#">List of Projects</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div id="surveys" class="bordered-box match-height-item-by-row">
            <img src="/images/icons/surveys.svg" width="40" class="margin-bottom-15">
            <h3 class="text-secondary h4">Surveys</h3>
            <ul>
                <li><a href="/documents/insights/2018-jakarta-ee-developer-survey.pdf">2018 Developer Survey</a></li>
                <li><a href="https://outreach.jakartaee.org/jakarta-ee-2019-developer-survey">2019 Developer Survey</a></li>
                <li><a href="https://outreach.jakartaee.org/2020-developer-survey-report">2020 Developer Survey</a></li>
                <li><a href="https://outreach.jakartaee.org/2021-developer-survey-report?utm_campaign=2021%20Jakarta%20EE%20Developer%20Survey&amp;utm_source=resources%20page">2021 Jakarta EE Developer Survey</a></li>
            </ul>
        </div>
    </div>
</div>