
<div class="news-list specifications-news-list"> 
    <div class="row">
    {{ range (.Page.Parent.Sections.ByParam "title").ByParam "weight" }}
        {{ if ne .Title "Browse Specifications" }}
            <div class="col-sm-8">
                <a href="{{- with .Params.redirect_url | default .RelPermalink }} {{.}} {{- end }}" class="match-height-item-by-row media media-link margin-bottom-30">
                <span class="flex-column" style="height: 100%;">
                    <h2 class="media-heading vertical-align" data-mh="spec-title" >{{ .Title }}</h2>
                    {{ if eq .Params.summary_sixty_char nil  }}
                    <p class="media-text vertical-align flex-grow">{{ .Params.summary | truncate 57 }}</p>
                    {{ else }}
                    <p class="media-text vertical-align flex-grow">{{ .Params.summary_sixty_char }}</p>
                    {{ end }}
                </span>
                </a>
            </div>
        {{ end }}
    {{ end }}
    </div>
</div>
