{{ $playlists := sort $.Site.Data.videos "title" "asc" }}

<div class="card-banner card-banner-dark padding-15 margin-bottom-60">
    <div class="row">
        <div class="col-sm-4 match-height-item-by-row vertical-align-container">
            <span class="featured-circle-white">
                <img src="/images/jakarta_ee_logo_stacked.svg" alt="Jakarta EE">
            </span>
        </div>
        <div class="col-sm-12 match-height-item-by-row">
            <h2 class="big-text">Subscribe to our Youtube Channel</h2>
            <ul class="list-inline">
                <li><i class="icon" data-feather="check"></i> Learn more about Jakarta</li>
                <li><i class="icon" data-feather="check"></i> Get updates</li>
                <li><i class="icon" data-feather="check"></i> Webinars</li>
            </ul>
        </div>
        <div class="col-sm-8 match-height-item-by-row vertical-align-container">
            <p class="text-right margin-bottom-0"><a class="btn btn-secondary btn-lg" href="https://www.youtube.com/c/JakartaEE">Subscribe</a></p>
        </div>
    </div>
</div>

<div class="row featured-section featured-section-resources">
    <div class="container">
        <div id="videos-list">
            {{ if gt (len $playlists) 0 }}
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select id="video-categories" class="search form-control">
                            <option selected value="none">Choose a category</option>
                            {{ range $playlists }}
                                <option value="{{ .title | urlize }}">{{ .title }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <ul class="list list-unstyled">
                    {{ range $playlists }}
                        {{ $category := .title }}
                        {{ range sort .entry "published" "desc" }}
                            <li class="row featured-section-resources-video-item margin-bottom-60">
                                <div class="col-sm-11">
                                    <a class="eclipsefdn-video" href="//www.youtube.com/embed/{{.videoId}}"></a>
                                </div>
                                <div class="col-sm-11 col-sm-offset-1 padding-top-30 padding-bottom-30">
                                    <p class="category hide">{{ $category | urlize }}</p>
                                    <p class="featured-section-resources-video-date text-secondary">{{ time.Format "January 2, 2006" .published }}</p>
                                    <h2 class="h3 featured-section-resources-video-heading big-text">
                                        <a href="{{ index .link "-href" }}">{{ .title }}</a>
                                    </h2>
                                    <p class="featured-section-resources-video-description margin-bottom-20">{{ .description | truncate 200 }}</p>
                                    <p><a class="btn btn-primary" href="{{.link.href}}">Watch on Youtube</a></p>
                                </div>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
                <div class="text-center">
                    <ul class="pagination pagination-videos text-center"></ul>
                </div>
            {{ end }}
        </div>
        <p class="text-center"><a class="btn btn-primary btn-huge" href="https://www.youtube.com/c/JakartaEE/playlists">View All</a></p>
    </div>
</div>
