{{ $playlists := sort $.Site.Data.videos "title" "asc" }}

<div class="card-banner card-banner-dark padding-15 margin-bottom-60">
    <div class="row">
        <div class="col-sm-4 match-height-item-by-row vertical-align-container">
            <span class="featured-circle-white">
                <img src="/images/jakarta_ee_logo_stacked.svg" alt="Jakarta EE">
            </span>
        </div>
        <div class="col-sm-12 match-height-item-by-row">
            <h2 class="big-text">Subscribe to our Youtube Channel</h2>
            <ul class="list-inline">
                <li><i class="icon" data-feather="check"></i> Learn more about Jakarta</li>
                <li><i class="icon" data-feather="check"></i> Get updates</li>
                <li><i class="icon" data-feather="check"></i> Webinars</li>
            </ul>
        </div>
        <div class="col-sm-8 match-height-item-by-row vertical-align-container">
            <p class="text-right margin-bottom-0"><a class="btn btn-secondary btn-lg" href="https://www.youtube.com/c/JakartaEE">Subscribe</a></p>
        </div>
    </div>
</div>

<div class="row featured-section featured-section-resources">
    <div class="container">
        <div id="videos-list">
            {{ if gt (len $playlists) 0 }}
                <div class="form-group row">
                    <div class="col-sm-6">
                        <select id="video-categories" class="search form-control">
                            <option selected value="none">Choose a category</option>
                            {{ range $playlists }}
                                <option value="{{ .title | urlize }}">{{ .title }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
            {{ end }}
        </div>
        <p class="text-center"><a class="btn btn-primary btn-huge" href="https://www.youtube.com/c/JakartaEE/playlists">View All</a></p>
    </div>
</div>
