
<aside id="events-sidebar">
  {{ if eq .Title "Events" }}
  <div class="sidebar-block row">
    <div class="card-container">
      <div class="card-panel panel panel-default with-glyph">
        <div class="panel-heading" aria-hidden="true">
          <img class="img-responsive" src="/images/community/events/event-hosting.png" alt="Interested in Hosting an Event?">
        </div>
        <div class="panel-body">
          <h3 class="big-text margin-top-30">Interested in Hosting an Event?</h3>
          <p><a class="big-text text-secondary uppercase" href="https://newsroom.eclipse.org/node/add/events">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-block row">
    <div class="card-container">
      <div class="card-panel panel panel-default with-glyph">
        <div class="panel-heading" aria-hidden="true">
          <img class="img-responsive" src="/images/community/events/event-youtube.png" alt="Watch recordings from the past events">
        </div>
        <div class="panel-body">
          <h3 class="big-text margin-top-30">Watch recordings from the past events</h3>
          <p><a class="big-text text-secondary uppercase" href="https://www.youtube.com/jakartaee">on our YouTube channel</a></p>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</aside>
  