<aside id="main-sidebar">
    <ul id="leftnav" class="ul-left-nav fa-ul hidden-print">
        <li class="separator">
            <a class="separator" href="/">Innovate with Us</a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="/about/" target="_self">About Jakarta EE</a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="/about/faq/" target="_self">Frequently Asked Questions</a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="/membership/" target="_self">Become a Member</a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="/connect/" target="_self">Stay Connected </a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="https://eclipse.org/org/workinggroups/jakarta_ee_charter.php" target="_self">Working Group
                Charter</a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="https://www.eclipse.org/ee4j/direction.php" target="_self">Technical Direction</a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="/newsletter" target="_self">Newsletter Archives</a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="/meeting_minutes" target="_self">Meeting Minutes</a>
        </li>

        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="/legal/trademark_guidelines/" target="_self">Trademark Guidelines</a>
        </li>
        <li>
            <i class="fa fa-caret-right fa-fw"></i>
            <a href="/about/jesp/" target="_self">Specification Process</a>
        </li>
    </ul>
</aside>
