<aside id="news-sidebar">
    <div class="sidebar-block">
      <h4>News</h4>
      <ul>
        {{ range (where (where .Site.Pages "Section" "news" ) "Type" "announcement") }}
          <li><a href="{{ .Permalink }}">
            <span class="meta-wrap">
              <span class="post-title">
                {{ .Params.title }}
              </span>
              <span class="post-date">{{.Params.date.Format "January 2, 2006" }} </span> </span> </a>
          </a></li>
        {{ end }}
      </ul>
    </div>
    <div class="sidebar-block">
      <h4>Tags</h4>
      <ul class="cat-list">
        {{ range $value := index .Site.Taxonomies "news/tags" }}
            <li class="cat-item"><a href="{{ $value.Page.Permalink }}">{{ $value.Page.Title }} [{{ $value.Count }}]</a></li>
        {{ end }}
      </ul>
    </div>
    <!-- <div class="sidebar-block">
      <h4>Newsletter</h4>
    </div> -->
    <div class="sidebar-block">
      <h4>Archive</h4>
      {{ range .Data.Pages.GroupByDate "2006" }}
        <h2>{{ .Key }}</h2>
        <ul id="cat-list">
            {{ range .Pages }}
            <li class="cat-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
      {{ end }}
    </div>
  </aside>
  