{{ $id := "news-list-sidebar" }}
{{ $templateId := "custom-announcement-template-sidebar" }}
{{ $templatePath := "/js/templates/news-sidebar.mustache" }}
{{ if not (in (.Page.Scratch.Get "news-container-ids") $id) }}
  {{ .Page.Scratch.Add "news-container-ids" (slice $id) }}
{{ end }}
{{ if and $templateId $templatePath }}
  {{ .Page.Scratch.SetInMap "mustache-templates" $templateId $templatePath }}
{{ end }}

<aside id="news-sidebar">
  {{ if eq .Page.RelPermalink "/news/" }}
    <div class="sidebar-block">
      <h4>Filter</h4>
      <div class="form-group row">
        <div class="col-sm-24">
          <select id="news-filter" class="search form-control">
            <option value="all">All</option>
            <option value="announcements">Announcements</option>
            <option value="community_news">Community News</option>
          </select>
        </div>
      </div>
    </div>
  {{ end }}

  {{ if eq .Parent.Section "news" }}
  <div class="sidebar-block">
    <h4>{{ i18n "news-sidebar-news-title" }}</h4>
    <div id="{{ $id }}" class="news-items" data-news-count="10"
      {{ with $templateId }} data-template-id="{{ . }}" {{ end }}
      data-publish-target="jakarta_ee">
    </div>
    <p><a class="btn btn-primary" href="/news">View More</a></p>
  </div>
  {{ end }}
</aside>
