{{ .Scratch.Set "parent_section" .Parent }}

{{ if ne .Parent.Title "Specifications" }}
  {{ .Scratch.Set "parent_section" .Parent.Parent  }}
{{ end }}

{{ $parent_section := .Scratch.Get "parent_section" }}

<aside id="news-sidebar">
    <aside id="main-sidebar" class="margin-bottom-30">
      <div class="main-sidebar-html-block hidden-print">
          <p class="text-left">View a Specification</p>
          <form id="viewSpecificationSidebar" method="post" class="text-left" action="">
            <select id="viewSpecificationSelect" name="select_specification" class="form-control">
              <option value="none">Select a Specification</option>
              {{ range ($parent_section.Sections.ByParam "title").ByParam "weight" }}
                <option value="{{- with .Params.redirect_url | default .RelPermalink }}{{.}}{{- end }}">{{ .Title }}</option>
              {{ end }}
            </select>
          </form>
        </div>
    </aside>
    <div class="row">
      <div class="card-container">
        <div class="card-panel panel panel-default">
          <div class="panel-heading" aria-hidden="true">
            <img class="img-responsive" src="/images/specifications/adopt-a-spec.png" alt="Adopt a spec">
          </div>
          <div class="panel-body panel-body-with-img secondary-bg">
            <h3 class="big-text">Learn Jakarta EE</h3>
            <p>Find Starter Guides, Tutorials, and Documentation to help you get started with Jakarta EE.</p>
            <br/> 
            <p><a class="big-text text-secondary uppercase" href="https://jakarta.ee/learn/">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-24">
        {{ $section := .Parent }}
        {{ with .Site.Data.spec_adopters.adopters.projects }}
          {{ range sort . "name" "asc"}}
            {{ $project := . }}
            {{ with $section.File.Dir }}
              {{ if eq . $project.directory }}
              <h2>JUG Spec Adopters</h2>
                <p>To learn how your JUG can sign-up, check out the <a href="/community/adopt-a-spec">Adopt a Specification</a> program.</p>
                  <ul class="list-unstyled text-center">
                  {{ range sort $project.adopters  "name" "asc"}}
                    <li><a href="{{ .homepage_url }}" target="_blank"><img src="/images/spec_adopters/{{ .logo }}" alt="{{ .name }}" class="adopter-logo"/></a></li>
                  {{end}}
                </ul>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>

    
</aside>