{{define "header"}}
  <a class="sr-only" href="#content">Skip to main content</a>
  <header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
    {{ partial "navbar.html" . }}
    
    {{ if isset .Page.Params "headline" }}
    <div class="jumbotron featured-jumbotron featured-jumbotron-download margin-bottom-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-14 col-sm-offset-3 text-left">
            <h1>Jakarta&nbsp;EE <span class="hidden-sm hidden-md hidden-lg hidden-xl">8</span></h1>
            {{ if isset .Page.Params "subtitle" }}
            <h2>{{ htmlUnescape .Page.Params.subtitle }}</h2>
            {{ end }} 
             
            <p class="text-center">An open, community-driven baseline for<br> the evolution of enterprise Java technologies</p>
            {{ if isset .Page.Params "links" }}
            <ul class="list-inline buttons">
              {{range $key,$val := index .Page.Params.links}}
                <li><a class="btn btn-primary" href="{{ (index $val 0).href}}">{{ (index $val 1).text}}</a></li>
              {{end}}
            </ul>
             {{end}} 
          </div>
          <div class="col-xs-4 hidden-xs">
            <span class="jumbotron-right-content">8</span>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </header>
{{ end }}

{{ define "main" }}
<div class="jakarta-download-delivers">
  <h2 class="heading-underline heading-underline-extended text-center">Jakarta EE 8 Delivers</h2>
  
  <div class="row download-highlights margin-top-40">
    <div class="col-sm-12 download-highlights-item">
      <span class="featured-circle-outline"><img width="50" class="icon margin-top-10" src="images/list.svg"></span>
      <h3>Full Compatibility with Java<sup>TM</sup>&nbsp;EE 8</h3>
      <p>Fully compatible with the Java EE 8 specifications and Technology Compatibility Kits (TCKs)</p>
    </div>
    <div class="col-sm-12 download-highlights-item">
      <span class="featured-circle-outline"><img width="50" class="icon margin-top-10" src="images/design-1.svg"></span>
      <h3>Open Specifications</h3>
      <p>Leveraging the <a href="/about/jesp/">Jakarta EE Specification Process</a>, an open source specification process that enables code-first development</p>
    </div>
    
  </div>
  <div class="row download-highlights margin-top-30">
    <div class="col-sm-12 download-highlights-item">
      <span class="featured-circle-outline"><img width="50" class="icon margin-top-15" src="images/document.svg"></span>
      <h3>Open Source TCK License and Process</h3>
      <p>An open process for certifying products as Compatible Implementations of Jakarta EE Profiles using TCKs licensed under the Eclipse TCK License</p>
    </div>
    <div class="col-sm-12 download-highlights-item">
      <span class="featured-circle-outline"><img width="50" class="icon margin-top-10" src="images/photo.svg"></span>
      <h3>Compatible Implementations</h3>
      <p>Compatible implementations of the Jakarta EE 8 Platform (Full and Web profiles)</p>
    </div>
  </div>
</div>

</div> <!-- End .container -->

<div class="jakarta-download-community">
  <div class="container">
    <h2 class="heading-underline heading-underline-extended text-center">Powered by Participation</h2>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <span class="featured-circle-outline"><img width="50" class="icon margin-top-15" src="images/settings.svg"></span>
        <p class="big">43 projects</p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <span class="featured-circle-outline"><img width="50" class="icon margin-top-10" src="images/user.svg"></span>
        <p class="big">174 committers</p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <span class="featured-circle-outline"><img width="50" class="icon margin-top-10" src="images/coding.svg"></span>
        <p class="big">61.5 million lines of code</p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <span class="featured-circle-outline"><img width="50" class="icon margin-top-10" src="images/cat.svg"></span>
        <p class="big">129 Repositories</p>
      </div>
    </div>
    <!-- VIDEOS -->
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <a class="eclipsefdn-video" href="//www.youtube.com/watch?v=ebja1buuorA"></a>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <a class="eclipsefdn-video" href="//www.youtube.com/watch?v=4ct05M4ywek"></a>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <a class="eclipsefdn-video" href="//www.youtube.com/watch?v=9Itg99QaOLc"></a>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 margin-bottom-30">
        <a class="eclipsefdn-video" href="//www.youtube.com/watch?v=v11r-GxIuys"></a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="jakarta-download-participation">
  <div class="container">
    <div class="row">
      <div class="col-md-14 col-md-offset-2 col-sm-12">
        <h2 class="heading-underline heading-underline-extended">Powered by Participation</h2>
        <p class="big">With a vast ecosystem of plugins from an active community, do everything you want to do, without limitation.</p>
        <p class="big margin-bottom-20">The best part? It’s still 100% free and open source.</p>
        <p><a class="btn btn-primary padding-left-60 padding-right-60" href="https://www.eclipse.org/donate">Donate</a></p>
       </div>
      <div class="col-md-4 text-center col-sm-12">
        <span class="featured-donate-icon"><img width="180" class="icon margin-top-10" src="images/donation.svg"></span>
       </div>
    </div>
  </div>
</div> -->

<div class="jakarta-download-next-release container text-center">
  <h3 class="heading-underline heading-underline-extended text-center"><strong>New eBook!</strong> <br>Fulfilling the Vision for Open Source, Cloud Native Java</h3>
  <p class="big">This eBook explores what cloud native Java is, why it matters so much to so many people, and provides the community’s perspective of where Jakarta EE technologies are headed.</p>
  <p><a class="btn btn-primary btn-lg" href="https://www.eclipse.org/lpg2/jakarta/cloud-native-java-eBook">Download</a></p>
</div>





<div class="jakarta-download-community">
  <h2 class="heading-underline heading-underline-extended text-center">Get Social</h2>
  <p>Stay up-to-date with Jakarta EE by following us on social media!</p>
  <ul class="list-inline featured-social-links margin-top-30">
    <li>
      <a class="fa-stack fa-xl" href="https://twitter.com/JakartaEE">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x white"></i>
      </a>
    </li>
    <li>
      <a class="fa-stack fa-xl" href="https://www.facebook.com/JakartaEE">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x white"></i>
      </a>
    </li>
    <li>
      <a class="fa-stack fa-xl" href="https://www.linkedin.com/groups/13597511/">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x white"></i>
      </a>
    </li>
    <li>
      <a class="fa-stack fa-xl" href="https://www.youtube.com/user/EclipseFdn">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-youtube fa-stack-1x white"></i>
      </a>
    </li>
  </ul>
</div>
<div class="container">
{{ end }}