{{ define "head-suffix" }}
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{{ end }}

{{ define "header"}}
  <a class="sr-only" href="#content">Skip to main content</a>
  <header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
    <!---Navbar--->
    <div class="clearfix toolbar-container-wrapper">
      <div class="container">
        <div class="text-right toolbar-row row hidden-print">
          <div class="col-md-24 row-toolbar-col">
            <ul class="list-inline">
              <li><a href="https://accounts.eclipse.org/user/edit" class="" data-tab-destination="tab-profile"><i class="fa fa-edit fa-fw"></i> {{ i18n "navbar-edit-acccount-label" }}</a></li>
              <li><a class="toolbar-link toolbar-manage-cookies dropdown-toggle"><i class="fa fa-wrench"></i> {{ i18n "navbar-manage-cookies-label" }}</a></li>
              {{ if gt (len .AllTranslations) 1 }}
              <li class="language-selector dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                  <i class="fa fa-globe"></i>
                  <span> {{ .Language.LanguageName }}</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  {{ range .AllTranslations }}
                  <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                  {{ end }}
                </ul>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="{{ $.Site.Params.navbar_wrapper_classes | default "navbar-wrapper" }}">
      <div class="container">
        <div class="row" id="header-row">
          <div class="{{ $.Site.Params.header_left_classes | default "col-sm-5 col-md-4" }}" id="header-left">
            <div class="wrapper-logo-default">
              {{- with .Page.Params.logo }}
                <a title="{{ $.Site.Title}}" href="{{ "" | absLangURL }}">
                  <img width="{{ $.Site.Params.logo_width | default "140"}}" class="logo-eclipse-default img-responsive hidden-xs" src="{{ . | absURL }}" alt="{{ $.Site.Title}}" />
                </a>
              {{ end }}
            </div>
          </div>
          {{ $has_cfa := 0 }}
          {{ if (and (isset .Site.Params "call_for_action_text") (isset .Site.Params "call_for_action_url") (isset .Site.Params "call_for_action_icon")) }}
            {{ $has_cfa = 1 }}
          {{ end }}
          <div class="{{ $.Site.Params.main_menu_wrapper_classes | default "col-sm-19 col-md-20 margin-top-10" }}{{ if eq $has_cfa 0}} reset{{ end }}" id="main-menu-wrapper">
            {{ $normalized_cta_url := .Site.Params.call_for_action_url }}
            {{ if (eq (len (findRE `(\.[^\/]{3,4}|\/)$` $normalized_cta_url)) 0) }}
              {{ $normalized_cta_url = printf "%s/" $normalized_cta_url }}
            {{ end }}
            
            {{ $abs_cfa := printf "%s" ($normalized_cta_url | absURL) }}
            {{ $is_cfa_page := 0 }}
            {{ if or (eq $normalized_cta_url .Permalink) (eq $abs_cfa .Permalink) }}
              {{ $is_cfa_page = 1 }}
            {{ end }}
            {{ if and (eq $has_cfa 1) (eq .Page.Params.show_call_for_action_button "true") }}
              <div class="{{ $.Site.Params.call_for_action_wrapper_classes | default "float-right hidden-xs" }}" id="btn-call-for-action">
                <div id="btn-call-for-action"><a href="{{ .Site.Params.call_for_action_url }}" class="{{ .Site.Params.call_for_action_classes | default "btn btn-huge btn-warning" }}"><i class="fa {{ .Site.Params.call_for_action_icon }}"></i> {{ .Site.Params.call_for_action_text }}</a></div>
              </div>
            {{ end }}
            <div class="{{ $.Site.Params.main_menu_classes | default "navbar float-sm-right yamm" }}" id="main-menu">
              <div class="navbar-collapse collapse reset float-right" id="navbar-main-menu">
                <ul class="nav navbar-nav">
                  {{ partial "nav.html" . }}
                </ul>
              </div>
              {{ partial "nav_toggle.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---Navbar end --->

    {{ if isset .Page.Params "headline" }}
    <div class="jumbotron-wrapper">
      <video autoplay muted loop id="video-background">
        <source src="videos/header-video.mp4" type="video/mp4">
      </video>
      <div class="jumbotron featured-jumbotron featured-jumbotron-download vertical-align flex-column margin-bottom-0">
        {{/*  <video autoplay muted loop id="myVideo">
          <source src="videos/header-video.mp4" type="video/mp4">
        </video>  */}}
        <div class="flex-grow-container vertical-align flex-wrap">
          <div class="col-md-10 flex-column">
            <p style="align-self: flex-start;"><span class="p text-primary">version 9</span> new release</p>
            <h1>Jakarta&nbsp;EE</h1>
          </div>
          <div class="col-md-2 col-md-offset-2 vertical-align">
            <span class="jumbotron-right-content"><i>9</i></span>
          </div>
          <div class="col-md-9 col-md-offset-1 vertical-align" style="text-align: left;">
            <p><span class="p text-primary">An open, community-driven platform</span> <br> for future innovation of <br> enterprise Java technologies</p>
          </div>
        </div>
  
        <div class="container jumbotron-button-container">
          <ul class="list-inline buttons">
            <li class="vcenter"><a class="btn btn-primary vertical-align" href="#">DOWNLOAD <br/> COMPATIBLE PRODUCTS</a></li>
            <li class="vcenter"><a class="btn btn-primary vertical-align" href="#">SPECIFICATIONS</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{ end }}
  </header>
{{ end }}

{{ define "footer" }}
<p id="back-to-top">
  <a class="visible-xs" href="#top">{{ i18n "navigation-back-to-top" }}</a>
</p>
<footer id="solstice-footer" class="footer-release-9">
  <div class="container">
    <div class="row">
      <section class="col-sm-6 hidden-print" id="footer-eclipse-foundation">
        <h2 class="section-title">{{ i18n "eclipse-foundation-text" }}</h2>
        <ul class="nav">
          <li><a href="https://www.eclipse.org/org/">{{ i18n "footer-foundation-about-us-text" }}</a></li>
          <li><a href="https://www.eclipse.org/org/foundation/contact.php">{{ i18n "footer-foundation-contact-us-text" }}</a></li>
          <li><a href="https://www.eclipse.org/donate">{{ i18n "footer-foundation-donate-text" }}</a></li>
          <li><a href="https://www.eclipse.org/membership">{{ i18n "footer-foundation-members-text" }}</a></li>
          <li><a href="https://www.eclipse.org/org/documents/">{{ i18n "footer-foundation-governance-text" }}</a></li>
          <li><a href="https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php">{{ i18n "footer-foundation-code-of-conduct-text" }}</a></li>
          <li><a href="https://www.eclipse.org/artwork/">{{ i18n "footer-foundation-logo-artwork-text" }}</a></li>
          <li><a href="https://www.eclipse.org/org/foundation/directors.php">{{ i18n "footer-foundation-board-of-directors-text" }}</a></li>
        </ul>
      </section>
      <section class="col-sm-6 hidden-print" id="footer-legal">
        <h2 class="section-title">{{ i18n "footer-legal-section-text" }}</h2>
        <ul class="nav">
          <li><a href="https://www.eclipse.org/legal/privacy.php">{{ i18n "footer-legal-privacy-policy-text" }}</a></li>
          <li><a href="https://www.eclipse.org/legal/termsofuse.php">{{ i18n "footer-legal-terms-use-text" }}</a></li>
          <li><a href="https://www.eclipse.org/legal/copyright.php">{{ i18n "footer-legal-copyright-agent-text" }}</a></li>
          <li><a href="https://www.eclipse.org/legal/epl-2.0/">{{ i18n "footer-legal-epl-text" }}</a></li>
          <li><a href="https://www.eclipse.org/legal/">{{ i18n "footer-legal-resources-text" }} </a></li>
        </ul>
      </section>
      <section class="col-sm-6 hidden-print" id="footer-useful-links">
        <h2 class="section-title">{{ i18n "footer-useful-links-section-text" }}</h2>
        <ul class="nav">
          <li><a href="https://bugs.eclipse.org/bugs/">{{ i18n "footer-useful-links-report-bug-text" }}</a></li>
          <li><a href="//help.eclipse.org/">{{ i18n "footer-useful-links-documentation-text" }}</a></li>
          <li><a href="https://www.eclipse.org/contribute/">{{ i18n "footer-useful-links-contribute-text" }}</a></li>
          <li><a href="https://www.eclipse.org/mail/">{{ i18n "footer-useful-links-mailing-list-text" }}</a></li>
          <li><a href="https://www.eclipse.org/forums/">{{ i18n "footer-useful-links-forums-text" }}</a></li>
          <li><a href="//marketplace.eclipse.org">{{ i18n "footer-useful-links-marketplace-text" }}</a></li>
        </ul>
      </section>
      <section class="col-sm-6 hidden-print" id="footer-other">
        <h2 class="section-title">{{ i18n "footer-other-section-text" }}</h2>
        <ul class="nav">
          <li><a href="https://www.eclipse.org/ide/">{{ i18n "footer-other-tools-text" }}</a></li>
          <li><a href="https://www.eclipse.org/projects">{{ i18n "footer-other-community-projects-text" }}</a></li>
          <li><a href="https://www.eclipse.org/org/workinggroups/">{{ i18n "footer-other-working-groups-text" }}</a></li>
          <li><a href="https://www.eclipse.org/org/research/">{{ i18n "footer-other-research-text" }}</a></li>
          <li><a href="https://www.eclipse.org/security/">{{ i18n "footer-other-report-vulnerability-text" }}</a></li>
          <li><a href="https://status.eclipse.org">{{ i18n "footer-other-status-text" }}</a></li>
        </ul>
      </section>
      <div class="col-sm-24 margin-top-20">
        <div class="row">
          <div id="copyright" class="col-md-16">
            <p id="copyright-text">{{ i18n "footer-copyright-text" | safeHTML}}</p>
          </div>
          {{ partial "socials.html" . }}
        </div>
      </div>
      <a href="#" class="scrollup">{{ i18n "navigation-back-to-top" }}</a>
    </div>
  </div>
</footer>
<!-- Placed at the end of the document so the pages load faster -->
{{- with .Site.Params.js | default "https://www.eclipse.org/eclipse.org-common/themes/solstice/public/javascript/main.min.js"}}
<script src="{{ . | absURL }}"></script>
{{ end }}
{{ if isset .Site.Params "hugo_js" }}
  {{- with .Site.Params.hugo_js }}
    <script src="{{ . | absURL }}"></script>
  {{ end }}
{{ else }}
    <script src="{{ "/js/solstice.hugo.js" | absURL }}"></script>
{{ end }}

<!-- Read in mustache templates registered in page scratch -->
{{ range $key, $value := (.Page.Scratch.Get "mustache-templates") }}
<script id="{{ $key }}" type="text/html">
{{ readFile $value | safeHTML}}
</script>
{{ end }}
<!-- Initialize any newsroom components on the page -->
<script>
(function($, document) {
  {{ range (.Page.Scratch.Get "events-container-ids") }}
    $("#{{ . }}").eclipseFdnApi({
      type: "filteredEvents"
    });
  {{ end }}
  {{ range (.Page.Scratch.Get "news-container-ids") }}
    $("#{{ . }}").eclipseFdnApi({
      type: "newsItems"
    });
  {{ end }}
  {{ if ne .Page.Params.show_featured_story false }}
    $("{{ .Site.Params.featured_footer_selector | default "#featured-story" }}").eclipseFdnApi({
      type: "featuredStory"
    });
  {{ end }}
  {{ if ne .Page.Params.show_featured_footer false }}
    $("{{ .Site.Params.featured_footer_selector | default "#featured-footer" }}").eclipseFdnApi({
      type: "featuredFooter"
    });
  {{ end }}
})(jQuery, document);
</script>
{{ end }}