{{ define "main" }}
  <p>{{ i18n "layouts-committees-list-landing-page-info" | safeHTML}}</p>

  <h2 class="heading-bold italic orange uppercase margin-bottom-30">Jakarta EE Committees</h2>
  {{ with .Pages }}
    <div class="row">
      {{ range .ByTitle }}
        <div class="col-sm-8">
          <div class="bordered-box">
            <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
            <div class="match-height-item-by-row margin-bottom-20">
              <p>{{.Summary}}</p>
            </div>
            <p class="bordered-box-link"><a href="{{.Permalink}}">View {{.Title}}</a></p>
          </div>
          
        </div>
      {{ end }}
    </div>
  {{ end }}
  {{ .Content }} 
{{ end }}