{{ define "head-suffix" }}
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{{ end }}

{{ define "header"}}
  <a class="sr-only" href="#content">{{ i18n "jakarta-ee-version-10-section-skip-to-main-content" }}</a>
  {{ partial "toolbar.html" . }}

   <!---Navbar--->
   {{ partial "navbar.html" . }}
   <!---Navbar end --->
  <header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
   
    {{ if isset .Page.Params "headline" }}
    <div class="jakartaee-9-jumbotron-wrapper">
      <div class="jumbotron featured-jumbotron featured-jumbotron-download vertical-align flex-column margin-bottom-0">
        <div class="container header-release-10-container">
          <div class="row jakartaee-9-flex-grow-container">
            <div class="col-md-24">
              <p class="jakartaee-10-jumbotron-title-prefix">New release</p>
              <h1><img class='header-release-10-logo' src='images/jakarta10-logo.svg' alt='Jakarta EE 10'></h1>
            </div>
            <div class="col-md-24">
              <p class="jakartaee-10-jumbotron-subtitle"><strong><span class='orange'>An Open, community-driven innovation</span><br> driving the future of cloud native Java technologies</strong></p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-14">
              <ul class="list-inline buttons">
                <li><a class="btn btn-primary uppercase" href="/compatibility/">{{ i18n "jakarta-ee-version-10-section-download-compatible-products" | safeHTML }}</a></li>
                <li><a class="btn btn-primary uppercase" href="/specifications/">{{ i18n "jakarta-ee-version-10-section-specifications" }}</a></li>
              </ul>
            </div>
          </div>

          <div class="jakartaee-10-jumbotron-footer">
            <div class="row">
              <div class="col-sm-24">
                <p class="jakartaee-10-jumbotron-footer-tagline">Community-driven Innovation</p>
                <ul class="list-inline jakartaee-10-jumbotron-footer-list">
                  <li>Modernized</li>
                  <li>Simplified</li>
                  <li>Lightweight</li>
                </ul>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
    {{ end }}
  </header>
{{ end }}

{{ define "footer-suffix"}}
  <script src="{{ "/js/release-page-cards.js" | absURL }}"></script>
{{ end }}