{{- range sort .Site.Data.conferences_ivar.years "year" "desc" }}
  
<a name ="{{ .year }}">
<h3>{{ .year }}</h3>
</a>
  <table>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
  
    {{- range .conferences }}
      <tr>
        <td>
        {{ if .url }}
          <a href="{{ .url }}" target="_blank">{{ .name }}</a></td>
        {{ else }}
          {{ .name }}
        {{ end }}
        </td>
        <td>{{ .location }}</td>
        <td>{{ .date }}</td>
      </tr>
   {{- end }}
  </table>

{{- end }}
  

