<div class="featured-section-cta-item-container container">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-3">
            <div class="featured-section-cta-item match-height-item-by-row">
                <div class="featured-section-cta-item-img">
                    <img src="/images/home/get-informed.svg" alt="Get Informed">
                </div>
                <h2 class="heading-underline">{{ i18n "home-calltoaction-getinformed" }}</h2>
                <ul class="featured-section-cta-item-links">
                  <li>
                    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                    <a href="/specifications">{{ i18n "home-calltoaction-specifications" | safeHTML }}</a>
                  </li>
                  <li>
                    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                    <a href="/about/why-jakarta-ee">{{ i18n "home-calltoaction-why-jakarta-ee" }}</a>
                  </li>
                  <li>
                    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                    <a href="https://docs.google.com/presentation/d/1LBjjJg64j0HjmFu6m3EApN--mkavemyPFMUobIbGZds/edit#slide=id.g10a8950dfd6_0_139">{{ i18n "home-calltoaction-presentation" | safeHTML }}</a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 col-md-6">
            <div class="featured-section-cta-item match-height-item-by-row">
                <div class="featured-section-cta-item-img">
                    <img src="/images/home/get-involved.svg" alt="Get INVOLVED">
                </div>
                <h2 class="heading-underline">{{ i18n "home-calltoaction-getinvolved" }}</h2>
                <ul class="featured-section-cta-item-links">
                  <li>
                    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                    <a href="/community/get-involved/">{{ i18n "home-calltoaction-howtogetinvolved" | safeHTML }}</a>
                  </li>
                  <li>
                    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                    <a href="/membership/">{{ i18n "home-calltoaction-membership" | safeHTML }}</a>
                  </li>
                </ul>
                
            </div>
        </div>
        <div class="col-sm-8 col-md-6">
            <div class="featured-section-cta-item match-height-item-by-row">
                <div class="featured-section-cta-item-img">
                    <img src="/images/home/get-started.svg" alt="Get STARTED">
                </div>
                
                <h2 class="heading-underline">{{ i18n "home-calltoaction-getstarted" }}</h2>
                <ul class="featured-section-cta-item-links">
                  <li>
                    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                    <a href="https://start.jakarta.ee/">{{ i18n "home-calltoaction-jakartaeestarter" }}</a>
                  </li>
                  <li>
                    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                    <a href="/compatibility/">{{ i18n "home-calltoaction-compatibility" | safeHTML }}</a>
                  </li>
                  <li>
                    <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                    <a href="/release/">{{ i18n "home-calltoaction-release" }}</a>
                  </li>
              </ul>
            </div>
        </div>
    </div>
</div>

<div class="row featured-section featured-section-cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-18 col-sm-offset-3">
                <p>{{ i18n "home-calltoaction-title" }}</p>
            </div>
        </div>
    </div>
</div>
