<div class="row featured-section featured-section-cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-18 col-sm-offset-3">
                <p>Jakarta EE brings together a global community of leading developers, vendors, and
                    enterprises to collaborate on advancing enterprise Java technologies in the cloud.</p>
            </div>
        </div>
    </div>
</div>

<div class="featured-section-cta-item-container container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="featured-section-cta-item">
                <div class="featured-section-cta-item-img">
                    <img src="/images/home/get-informed.svg" alt="Get Informed">
                </div>
                <h2 class="heading-underline">GET INFORMED</h2>
                <p><a href="#">GET THE <br>SPECIFICATIONS</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="featured-section-cta-item">
                <div class="featured-section-cta-item-img">
                    <img src="/images/home/get-involved.svg" alt="Get INVOLVED">
                </div>
                <h2 class="heading-underline">GET INVOLVED</h2>
                <p><a href="#">JOIN THE <br>WORKING GROUP</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="featured-section-cta-item">
                <div class="featured-section-cta-item-img">
                    <img src="/images/home/get-started.svg" alt="Get STARTED">
                </div>
                
                <h2 class="heading-underline">GET STARTED</h2>
                <p><a href="#">DOWNLOAD <br>COMPATIBLE PRODUCTS</a></p>
            </div>
        </div>
    </div>
</div>