  <div class="eclipsefdn-featured-story featured-story" id="featured-story" data-publish-target="{{ .Page.Params.featured_content_publish_target | default .Site.Params.featured_content_publish_target | default "eclipse_org"}}">
    <div class="container">
        <h2 class="main-title">Featured</h2>
        <div class="row">
            <div class="col-sm-12">
                <img class="img-responsive" src="/images/home/featured-story.jpg" alt="featured">
            </div>
            <div class="col-sm-12 featured-story-block featured-story-block-content match-height-item-by-row featured-container">
            </div>
        </div>
    </div>
  </div>
