{{ $id := .Get "id" | default "featured-story-container" }}
{{ $templateId := .Get "templateId" }}
{{ $templatePath := .Get "templatePath" }}
{{ $publishTarget := .Get "publishTarget" }}
{{ $count := .Get "count" }}
{{ if and $templateId $templatePath }}
  {{ .Page.Scratch.SetInMap "mustache-templates" $templateId $templatePath }}
{{ end }}
  

<div class="eclipsefdn-featured-story featured-story" 
      id="featured-story" 
      data-template-id="{{ $templateId }}" 
      data-publish-target="{{ $publishTarget }}"
      data-count="{{ $count }}">
  <div class="container">
    <h2 class="big-text-secondary">{{ i18n "home-featured" }}</h2>
    <div class="row">
      <div class="col-sm-18 col-sm-offset-3 text-center featured-story-block featured-story-block-content match-height-item-by-row featured-container">
      </div>
    </div>
  </div>
</div>
