
{{ $lang := .Page.Lang }}
{{$langBase:=index .Site.Data $lang}}

{{ if $langBase.testimonials.items }}
<div class="container featured-section-testimonials">
    <h2 class="big-text-secondary">{{ i18n "home-testimonials" }}</h2>
    <div class="row testimonial-container">
        {{ range $langBase.testimonials.items }}
            <div class="col-sm-8 testimonial-item" style="display:none;">
                <div class="featured-section-testimonials-item match-height-item-by-row">
                    <div class="row">
                        <div class="col-md-6">
                            {{ if .picture }}
                            <div class="featured-section-testimonials-item-picture"><img class="img" src="{{ .picture }}" width="{{ .picture_width | default 60 }}" alt="{{ .name }}'s picture"></div>
                            {{ end }}
                            <p><img class="featured-section-testimonials-item-logo img img-responsive" src="{{ .logo }}" width="{{ .logo_width | default 60 }}" alt="{{ .company }}'s logo"></p>
                        </div>
                        <div class="col-md-18">
                            <p class="featured-section-testimonials-item-content">{{ .text }}</p>
                            <p class="featured-section-testimonials-item-name"><strong>{{ .name }},</strong> <em>{{ .company }}</em></p>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}