<div class="container featured-section-videos">
    <h2 class="main-title">Videos</h2>

    <div class="row">
        <div class="col-sm-12 col-sm-push-12">
            <a href="https://www.youtube.com/channel/UC4M7h5b6elu9VlzjLfzuXyg">
                <img class="img-responsive" src="/images/home/video.png" alt="Jakarta EE Videos">
            </a>
        </div>
        <div class="col-sm-12 col-sm-pull-12">
            <h3 class="heading-underline">Watch the Video Interviews</h3>
            <p>Jakarta EE is focused on enabling community-driven
                collaboration and open innovation for the cloud. Build modern
                and portable enterprise applications and protect your
                investments in Java EE.</p>
            <p><a class="btn btn-primary" href="https://www.youtube.com/channel/UC4M7h5b6elu9VlzjLfzuXyg">Watch More</a></p>
        </div>
        

    </div>
</div>