<div class="container featured-section-videos">
    <h2 class="main-title">Jakarta EE on YouTube</h2>

    <div class="row">
        <div class="col-sm-12 col-sm-push-12 match-height-item-by-row">
            <div class="">
                <a href="https://www.youtube.com/channel/UC4M7h5b6elu9VlzjLfzuXyg">
                    <img class="img-responsive" src="/images/home/video.png" alt="Jakarta EE Videos">
                </a>
            </div>
            
        </div>
        <div class="col-sm-12 col-sm-pull-12 vertical-align-container match-height-item-by-row">
            <div class="">
                <h3 class="heading-underline">Watch the Video Interviews</h3>
                <p>Jakarta EE Youtube channel is a platform that features Jakarta EE related videos aiming to educate the new and existing community members about open source cloud native and microservices technologies.</p>
                <p><a class="btn btn-primary" href="https://www.youtube.com/channel/UC4M7h5b6elu9VlzjLfzuXyg">Watch More</a></p>
            </div>
            
        </div>
        

    </div>
</div>