<div class="container tab-content-home">
    <div class="col-sm-24">
        <h2 class="main-title text-center">What's New</h2>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#announcements" aria-controls="announcements" role="tab" data-toggle="tab">Annoucements</a></li>
            <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">News</a></li>
            <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
        </ul>
    </div>
</div>
