<div class="container tab-content-nav">
    <div class="col-sm-24">
        <h2 class="big-text-secondary text-center">What's New</h2>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs solstice-tabs solstice-tabs-center" role="tablist">
            <li role="presentation1" class="active"><a data-target="#whats-new-announcements" aria-controls="whats-new-announcements" role="tab" data-toggle="tab">Annoucements</a></li>
            <li role="presentation1"><a data-target="#whats-new-news" aria-controls="whats-new-news" role="tab" data-toggle="tab">News</a></li>
            <li role="presentation1"><a data-target="#whats-new-events" aria-controls="whats-new-events" role="tab" data-toggle="tab">Events</a></li>
        </ul>
    </div>
</div>
