
{{#events}}
    <div class="row margin-bottom-50">
    {{#image}}
        <div class="col-sm-12">
            <img class="img-responsive" src="{{ image }}">
        </div>
    {{/image}}
    <div class="{{#image}}col-sm-12{{/image}}{{^image}}col-sm-24{{/image}}">

        {{#date}}
        <p class="brand-secondary">{{ date }}{{#end-date}} - {{ end-date }}{{/end-date}}</p>
        {{/date}}

        {{#infoLink}}
        <h3 class="big-text"><a href="{{infoLink}}">{{ title }}</a></h3>
        {{/infoLink}}

        {{^infoLink}}
        <h3 class="big-text">{{ title }}</h3>
        {{/infoLink}}

        {{#description}}
        <p>{{ description }}</p>
        {{/description}}

        {{#registration}}
        <p class="eclipsefdn-event-list-teaser-registation"><a href="{{registration}}" class="btn btn-primary btn-sm">Get More Info</a></p>
        {{/registration}}   
        
    </div>
    </div>
{{/events}}
