{{#featuredStory}}
    <div class="col-sm-18 col-sm-offset-3 item text-center featured-story-block featured-story-block-content match-height-item-by-row featured-container">
        <h2 class="webinar-series-1-title">{{ title }}</h2>
        <p>{{ body }}</p>
        <ul class="list-inline list-inline-xs-margin">
            {{#links}}
                <li><a class="btn btn-primary" href="{{ url }}">{{ title }}</a></li>
            {{/links}}
        </ul>
    </div>

{{/featuredStory}}