{{#items}}
<div class="card-container padding-bottom-0">
    <div class="card-panel bordered panel panel-default">
        <p class="small"><strong>{{#formatDate}}{{date}}{{/formatDate}}</strong></p>
        <h2 class="big-text text-secondary h3"><a href="{{ link }}">{{ title }}</a></h2>
        <p class="whats-new-description">{{summary}}</p>
    </div>
</div>
{{/items}}