{{#items}}
    <div class="col-sm-8">
        <div class="eclipsefdn-contributor">
            <div class="row">
                <div class="col-sm-14">
                    <div class="eclipsefdn-contributor-description">
                        <h3 class="big-text"><a href="https://projects.eclipse.org/user">{{first_name}}<br>{{last_name}}</a></h3>
                    </div>
                </div>
                <div class="col-sm-10">
                    <img class="img-responsive eclipsefdn-contributor-img" src="{{ picture }}" alt="{{first_name}} {{last_name}}'s picture">
                </div>
            </div>
        </div>
    </div>
{{/items}}