{{#news}}
<article>
  <div class="article-header">
    <span class="date">{{ date }}</span>
    <span class="news-type-{{ news_type }}"></span>
  </div>
  <h3 class="article-heading"><a href="{{ link }}">{{ title }}</a></h3>
  <p class="article-body">{{ body }}</p>
</article>
{{/news}}
