{{ define "main_prefix" }}
<main>
  <div class="{{ if (and (isset .Page.Params "container") (ne .Page.Params ""))}}{{ .Page.Params.container }}{{else}}container{{end}}">
    {{ if ne .Page.Params.hide_sidebar true }}
      <div class="row">
        <div class="col-md-18 padding-bottom-30">
    {{ end }}
{{ end }}

{{ define "main" }}
  <div class="announcements-section">
    {{ .Content }}
    <div class="news-list announcements-list"> 
        {{/*where "Type" "etc"*/}}
        {{ $paginator := .Paginate .Data.Pages 4 }}

        {{ range $paginator.Pages }}
        {{ partial "announcement/summary" . }}
        {{ end }}
      {{ partial "announcement/list_nav" . }}  
    </div>
  </div>
{{ end }}
