<div class="featured-story featured-jakarta-developer-survey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-2 col-md-16 col-md-offset-0 featured-story-block featured-story-block-content match-height-item-by-row" style="height: 270px;min-height: 270px;">
        <h2>The Jakarta EE 2019<br> <strong>Developer Survey</strong> <br>is now available</h2>
        <p><a class="btn btn-primary btn-lg" href="https://www.surveymonkey.com/r/jakartaeebanner">Take the Survey</a></p>
      </div>
      <div class="col-sm-9 col-md-8 featured-ad featured-story-block match-height-item-by-row" style="height: 270px;min-height: 270px;">
        <div class="featured-ad-content featured-ad-content-jakarta text-center">
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
          </p>
          <p>Sign up to our <br>Newsletter</p>
          <form action="https://eclipsecon.us6.list-manage.com/subscribe/post" method="post" target="_blank">
            <div class="form-group">
              <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
              <input type="hidden" name="id" value="98ae69e304">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" class="button btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
