<div class="featured-footer featured-mailing-list text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-24">
        <ul class="list-inline">

          <li><a class="btn btn-primary margin-right-15" href="https://accounts.eclipse.org/mailing-list/jakarta.ee-wg">Join our Mailing List</a></li>
          <li>
            <a class="social-icon" href="https://www.facebook.com/JakartaEE/">
              <i class="fa fa-facebook-official" aria-label="Facebook page for Jakarta EE"></i>
            </a>
          </li>
          <li>
            <a class="social-icon" href="https://ca.linkedin.com/showcase/jakartaee">
              <i class="fa fa-linkedin-square" aria-label="Linkedin profile for Jakarta EE"></i>
            </a>
          </li>
          <li>
            <a class="social-icon" href="https://twitter.com/JakartaEE">
              <i class="fa fa-twitter" aria-label="Twitter profile for Jakarta EE"></i>
            </a>
          </li>
          <li>
            <a class="social-icon" href="https://www.youtube.com/c/JakartaEE">
              <i class="fa fa-youtube-play" aria-label="Youtube channel for Jakarta EE"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>