<div class="jumbotron-pills-home container">
  <div class="card wrapper glow">
    <div class="pill">
      <div class="left">
        {{ partial "svg.html" (dict "path" "static/images/icons/home/mentorship.svg") }}
      </div>
      <div class="right">
        <h3>Mentorship</h3>
        <p>Contribute with guidance from community experts</p>
      </div>
    </div>
    <div class="pill">
      <div class="left">
        {{ partial "svg.html" (dict "path" "static/images/icons/home/learn.svg") }}
      </div>
      <div class="right">
        <h3>Learning hub</h3>
        <p>Guides and tutorials to get started</p>
      </div>
    </div>
    <div class="pill">
      <div class="left">
        {{ partial "svg.html" (dict "path" "static/images/icons/home/oss.svg") }}
      </div>
      <div class="right">
        <h3>Open source</h3>
        <p>Collaborative & vendor-neutral</p>
      </div>
    </div>
    <div class="pill">
      <div class="left">
        {{ partial "svg.html" (dict "path" "static/images/icons/home/community.svg") }}
      </div>
      <div class="right">
        <h3>Community innovation</h3>
        <p>Shaped by contributors worldwide</p>
      </div>
    </div>
  </div>
</div>
