<div class="wrapper">
  <div class="container">
    <p class="h1">Jakarta EE 11 <span class="thinner">Platform</span></p>

    <div class="grid">
      <!-- Full Platform -->
      <div class="section fullplatform">
        <div class="items">
          <div class="item updated"><a href="/specifications/authorization/3.0/">Authorization 3.0</a></div>
          <div class="item not-updated"><a href="/specifications/activation/2.1/">Activation 2.1</a></div>
          <div class="item not-updated"><a href="/specifications/batch/2.1/">Batch 2.1</a></div>
          <div class="item not-updated"><a href="/specifications/connectors/2.1/">Connectors 2.1</a></div>
          <div class="item not-updated"><a href="/specifications/mail/2.1/">Mail 2.1</a></div>
          <div class="item not-updated"><a href="/specifications/messaging/3.1/">Messaging 3.1</a></div>
          <div class="item not-updated"><a href="/specifications/enterprise-beans/4.0/">Enterprise Beans 4.0</a></div>
        </div>
      </div>
      <div class="box2">

        <!-- Web Profile -->
        <div class="section webprofile">
          <p class="h2">Jakarta EE 11 <br><span class="thinner">Web Profile</span></p>
          <div class="web-profile">
            <div class="item updated"><a href="/specifications/authentication/3.1/">Authentication 3.1</a></div>
            <div class="item new"><a href="/specifications/data/1.0/">Data 1.0</a></div>
            <div class="item updated"><a href="/specifications/concurrency/3.1/">Concurrency 3.1</a></div>
            <div class="item updated"><a href="/specifications/persistence/3.2/">Persistence 3.2</a></div>
            <div class="item updated"><a href="/specifications/cdi/4.1/">CDI 4.1</a></div>
            <div class="item updated"><a href="/specifications/pages/4.0/">Pages 4.0</a></div>
            <div class="item updated"><a href="/specifications/expression-language/6.0/">Expression Language 6.0</a></div>
            <div class="item updated"><a href="/specifications/websocket/2.2/">WebSocket 2.2</a></div>
            <div class="item updated"><a href="/specifications/faces/4.1/">Faces 4.1</a></div>
            <div class="item updated"><a href="/specifications/bean-validation/3.1/">Validation 3.1</a></div>
            <div class="item updated"><a href="/specifications/security/4.0/">Security 4.0</a></div>
            <div class="item not-updated"><a href="/specifications/debugging/2.0/">Debugging Support 2.0</a></div>
            <div class="item updated"><a href="/specifications/servlet/6.1/">Servlet 6.1</a></div>
            <div class="item not-updated"><a href="/specifications/tags/3.0/">Standard Tag Libraries 3.0</a></div>
            <div class="item not-updated"><a href="/specifications/enterprise-beans/4.0/">Enterprise Beans Lite 4.0</a></div>
            <div class="item not-updated"><a href="/specifications/transactions/2.0/">Transactions 2.0</a></div>
          </div>
        </div>



        <!-- Core Profile -->
        <div class="section coreprofile">
          <p class="h2">Jakarta EE 11 <br><span class="thinner">Core Profile</span></p>
          <div class="items">
            <div class="item updated"><a href="/specifications/restful-ws/4.0/">RESTful Web Services 4.0</a></div>
            <div class="item not-updated"><a href="/specifications/jsonp/2.1/">JSON Processing 2.1</a></div>
            <div class="item not-updated"><a href="/specifications/jsonb/3.0/">JSON Binding 3.0</a></div>
            <div class="item updated"><a href="/specifications/annotations/3.0/">Annotations 3.0</a></div>
            <div class="item updated"><a href="/specifications/interceptors/2.2/">Interceptors 2.2</a></div>
            <div class="item not-updated"><a href="/specifications/dependency-injection/2.0/">Dependency Injection 2.0</a></div>
            <div class="item updated"><a href="/specifications/cdi/4.1/">CDI Lite 4.1</a></div>
          </div>
        </div>

      </div>


    </div>
  </div>
  <div class="legend">
    <span><div class="circle updated"></div>Updated</span>
    <span><div class="circle not-updated"></div>Not Updated</span>
    <span><div class="circle new"></div>New</span>
  </div>
</div>
