{{ define "head-suffix" }}
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{{ end }}

{{ define "header"}}
  <a class="sr-only" href="#content">Skip to main content</a>
  <header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
    <!---Navbar--->
    {{ partial "navbar.html" . }}
    <!---Navbar end --->

    {{ if isset .Page.Params "headline" }}
    <div class="jakartaee-9-jumbotron-wrapper">
      <video autoplay muted loop id="jakartaee-9-video-background">
        <source src="../videos/header-video.mp4" type="video/mp4">
      </video>
      <div class="jumbotron featured-jumbotron featured-jumbotron-download vertical-align flex-column margin-bottom-0">
        <div class="jakartaee-9-flex-grow-container vertical-align flex-wrap">
          <div class="col-md-10 flex-column">
            <p style="align-self: flex-start;"><span class="p text-primary">version 9</span> new release</p>
            <h1>Jakarta&nbsp;EE</h1>
          </div>
          <div class="col-md-2 col-md-offset-2 vertical-align">
            <span class="jumbotron-right-content"><i>9</i></span>
          </div>
          <div class="col-md-9 col-md-offset-1 vertical-align" style="text-align: left;">
            <p><span class="p text-primary">An open, community-driven platform</span> <br> for future innovation of <br> enterprise Java technologies</p>
          </div>
        </div>
  
        <div class="container jakartaee-9-jumbotron-button-container">
          <ul class="list-inline buttons">
            <li class="vcenter"><a class="btn btn-primary vertical-align" href="/compatibility/">DOWNLOAD <br/> COMPATIBLE PRODUCTS</a></li>
            <li class="vcenter"><a class="btn btn-primary vertical-align" href="/specifications/">SPECIFICATIONS</a></li>
          </ul>

          <a id="text-white" href="/release">Previous Releases: Jakarta EE 8</a>
          <p id="coming-date-text" class="margin-top-15">Jakarta EE 9 is coming on December 8</p>
        </div>
      </div>
    </div>
    {{ end }}
  </header>
{{ end }}