
{{ define "head-suffix" }}
  <link rel="stylesheet" type="text/css" href="//www.eclipse.org/home/featured-story.css" media="screen" />
  <style>
    .featured-ad-content-jakarta p, .featured-ad-content-jakarta .feather {
      margin-bottom:0px;
      color:#fff;
    }
    .featured-ad:after, .featured-ad:before {
      background-color: #6b747b;
    }
    .featured-jakarta-developer-survey .featured-story-block h2 {
      margin-top:10px;
    }
    .featured-story-block-content h2 {
      color:#333;
    }
  </style>
{{ end }}

{{ define "main" }}
<main>
  <div class="featured-story featured-jakarta-developer-survey">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-sm-offset-2 col-md-16 col-md-offset-0 featured-story-block featured-story-block-content match-height-item-by-row" style="height: 270px;min-height: 270px;">
          <h2>The Jakarta EE 2019<br> <strong>Developer Survey</strong> <br>is now available</h2>
          <p><a class="btn btn-primary btn-lg" href="https://www.surveymonkey.com/r/jakartaeebanner">Take the Survey</a></p>
        </div>
        <div class="col-sm-9 col-md-8 featured-ad featured-story-block match-height-item-by-row" style="height: 270px;min-height: 270px;">
          <div class="featured-ad-content featured-ad-content-jakarta text-center">
            <p>
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
              </svg>
            </p>
            <p>Sign up to our <br>Newsletter</p>
            <form action="https://eclipsecon.us6.list-manage.com/subscribe/post" method="post" target="_blank">
              <div class="form-group">
                <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
                <input type="hidden" name="id" value="98ae69e304">
              </div>
              <input type="submit" value="Subscribe" name="subscribe" class="button btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="events padding-bottom-50 padding-top-30">
  <div class="container">

    <h2 class="text-center heading-line"><span style="background-color:#fff;">Events</span></h2>
    <h3 class="h4 text-center">Come meet the Jakarta EE Community at these upcoming events!</h3>
    <div class="row text-center">

      <div class="col-sm-12 col-md-6 event">
        <h3 class="h4">DexNexus</h3>
        <p>Atlanta, GA</p>
        <p>March 6-8, 2019</p>
        <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://devnexus.com/">Register Now</a></p>
      </div>
      
      <div class="col-sm-12 col-md-6 event">
        <h3 class="h4">Javaland 2019</h3>
        <p>Phantasialand, Bruehl</p>
        <p>March 19-21, 2019</p>
        <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://www.javaland.eu/en/home/">Register Now</a></p>
      </div>
      
      <div class="col-sm-12 col-md-6 event">
        <h3 class="h4">OpenInfra Days UK 2019</h3>
        <p>London, UK</p>
        <p>April 1-2, 2019</p>
        <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://openinfradays.co.uk/">Register Now</a></p>
      </div>
      
      <div class="col-sm-12 col-md-6 event">
        <h3 class="h4">Java EE 8 with Microprofile Bootstrap</h3>
        <p>Munich Airport, Terminal 2</p>
        <p>April 2, 2019</p>
        <p class="margin-bottom-0"><a class="btn btn-secondary" href="http://workshops.adam-bien.com/bootstrap.htm">Register Now</a></p>
      </div>
       
    </div>

    <div class="collapse" id="featured-more-items" aria-expanded="true" style="">
      <div class="row text-center">

        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">Effective Java EE 8 with MicroProfile</h3>
          <p>Munich Airport, Terminal 2</p>
          <p>April 3, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="http://workshops.adam-bien.com/effective-javaee.htm">Register Now</a></p>
        </div>
        
        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">CD, Testing and Quality</h3>
          <p>Munich Airport, Terminal 2</p>
          <p>April 4, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="http://workshops.adam-bien.com/about-testing.htm">Register Now</a></p>
        </div>
        
        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">Devoxx FR</h3>
          <p>Paris, France</p>
          <p>April 17-19, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://www.devoxx.fr/">Register Now</a></p>
        </div>
  
        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">JAX 2019</h3>
          <p>Mainz, Germany</p>
          <p>May 6-10, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://jax.de/">Register Now</a></p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">KubeCon Europe 2019</h3>
          <p>Barcelona, Spain</p>
          <p>May 20-23, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2019/">Register Now</a></p>
        </div>
      </div>
    </div> 
    <hr>
    <ul class="text-center margin-top-15 list-inline">
      <li><a style="width:160px;" data-toggle-text="Close" role="button" data-toggle="collapse" href="#featured-more-items" aria-expanded="true" aria-controls="featured-more-items" class="btn btn-primary toggle-text">View More Events <i class="fa fa-arrow-down"></i></a></li>
      <li><a style="width:160px;" class="btn btn-primary" href="https://goo.gl/forms/xIlhGdX1qfKCyCZn1" target="_blank">Submit Event</a></li>
    </ul>

  </div>
</div>

  <div class="container">
    <!-- Announcements -->
    <div class="row margin-bottom-50 margin-top-20">
      <div class="col-sm-12 news-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line text-center">
            <span>Announcements</span>
          </h2>
          {{ range first 5 (where (index .Site.Taxonomies.categories "announcements").Pages "Section" "news") }}
          <ul class="news-list-media list-unstyled">
            <li>
              <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}" class="media media-link match-height-item">
                <p class="media-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                <h4 class="media-heading">{{ .Title }}</h4>
                <p class="media-text">{{ .Summary }}</p>
              </a>
            </li>
          </ul>
          {{ end }}
          <ul class="list-inline news-list-links">
            <li class="news-list-links-view-all"><a href="news/announcements">View all</a></li>
            <li class="news-list-links-rss"><a href="news/index.xml" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 news-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line text-center">
            <span>Community News</span>
          </h2>
          {{ range first 5 (where (index .Site.Taxonomies.categories "community").Pages "Section" "news") }}
          <ul class="news-list-media list-unstyled">
            <li>
              <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}" class="media media-link match-height-item-by-row">
                <p class="media-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                <h4 class="media-heading">{{ .Title }}</h4>
                <p class="media-text">{{ .Summary }}</p>
              </a>
            </li>
          </ul>
          {{ end }}
          <ul class="list-inline news-list-links">
            <li class="news-list-links-view-all"><a href="news/community-news">View all</a></li>
            <li class="news-list-links-rss"><a href="news/index.xml" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}