{{ define "main" }}
<main>
  <div class="events padding-bottom-50 padding-top-30">
  <div class="container">

    <h2 class="text-center heading-line"><span style="background-color:#fff;">Events</span></h2>
    <h3 class="h4 text-center">Come meet the Jakarta EE Community at these upcoming events!</h3>
    <div class="row text-center">

      <div class="col-sm-12 col-md-6 event">
        <h3 class="h4">DexNexus</h3>
        <p>Atlanta, GA</p>
        <p>March 6-8, 2019</p>
        <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://devnexus.com/">Register Now</a></p>
      </div>
      
      <div class="col-sm-12 col-md-6 event">
        <h3 class="h4">Javaland 2019</h3>
        <p>Phantasialand, Bruehl</p>
        <p>March 19-21, 2019</p>
        <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://www.javaland.eu/en/home/">Register Now</a></p>
      </div>
      
      <div class="col-sm-12 col-md-6 event">
        <h3 class="h4">OpenInfra Days UK 2019</h3>
        <p>London, UK</p>
        <p>April 1-2, 2019</p>
        <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://openinfradays.co.uk/">Register Now</a></p>
      </div>
      
      <div class="col-sm-12 col-md-6 event">
        <h3 class="h4">Java EE 8 with Microprofile Bootstrap</h3>
        <p>Munich Airport, Terminal 2</p>
        <p>April 2, 2019</p>
        <p class="margin-bottom-0"><a class="btn btn-secondary" href="http://workshops.adam-bien.com/bootstrap.htm">Register Now</a></p>
      </div>
       
    </div>

    <div class="collapse" id="featured-more-items" aria-expanded="true" style="">
      <div class="row text-center">

        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">Effective Java EE 8 with MicroProfile</h3>
          <p>Munich Airport, Terminal 2</p>
          <p>April 3, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="http://workshops.adam-bien.com/effective-javaee.htm">Register Now</a></p>
        </div>
        
        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">CD, Testing and Quality</h3>
          <p>Munich Airport, Terminal 2</p>
          <p>April 4, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="http://workshops.adam-bien.com/about-testing.htm">Register Now</a></p>
        </div>
        
        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">Devoxx FR</h3>
          <p>Paris, France</p>
          <p>April 17-19, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://www.devoxx.fr/">Register Now</a></p>
        </div>
  
        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">JAX 2019</h3>
          <p>Mainz, Germany</p>
          <p>May 6-10, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://jax.de/">Register Now</a></p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12 col-md-6 event">
          <h3 class="h4">KubeCon Europe 2019</h3>
          <p>Barcelona, Spain</p>
          <p>May 20-23, 2019</p>
          <p class="margin-bottom-0"><a class="btn btn-secondary" href="https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2019/">Register Now</a></p>
        </div>
      </div>
    </div> 
    <hr>
    <ul class="text-center margin-top-15 list-inline">
      <li><a style="width:160px;" data-toggle-text="Close" role="button" data-toggle="collapse" href="#featured-more-items" aria-expanded="true" aria-controls="featured-more-items" class="btn btn-primary toggle-text">View More Events <i class="fa fa-arrow-down"></i></a></li>
      <li><a style="width:160px;" class="btn btn-primary" href="https://goo.gl/forms/xIlhGdX1qfKCyCZn1" target="_blank">Submit Event</a></li>
    </ul>

  </div>
</div>

  <div class="container">
    <!-- Announcements -->
    <div class="row margin-bottom-50 margin-top-20">
      <div class="col-sm-12 news-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line text-center">
            <span>Announcements</span>
          </h2>
          {{ range first 5 (where (index .Site.Taxonomies.categories "announcements").Pages "Section" "news") }}
          <ul class="news-list-media list-unstyled">
            <li>
              <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}" class="media media-link">
                <p class="media-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                <h4 class="media-heading">{{ .Title }}</h4>
                <p class="media-text">{{ .Summary }}</p>
              </a>
            </li>
          </ul>
          {{ end }}
          <ul class="list-inline news-list-links">
            <li class="news-list-links-view-all"><a href="news/announcements">View all</a></li>
            <li class="news-list-links-rss"><a href="news/index.xml" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 news-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line text-center">
            <span>Community News</span>
          </h2>
          {{ range first 5 (where (index .Site.Taxonomies.categories "community").Pages "Section" "news") }}
          <ul class="news-list-media list-unstyled">
            <li>
              <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}" class="media media-link">
                <p class="media-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                <h4 class="media-heading">{{ .Title }}</h4>
                <p class="media-text">{{ .Summary }}</p>
              </a>
            </li>
          </ul>
          {{ end }}
          <ul class="list-inline news-list-links">
            <li class="news-list-links-view-all"><a href="news/community-news">View all</a></li>
            <li class="news-list-links-rss"><a href="news/index.xml" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}