{{ define "main" }}
  <h2 id="contact-us">Contact us about membership</h2>
  <p>Contact us about your organization joining the Jakarta EE Working Group.</p>
  <p class="margin-top-20"><a class="btn btn-lg btn-secondary" href="https://accounts.eclipse.org/contact/membership/jakarta-ee">Contact Us About Membership</a></p>
  <h2 id="out">Join Us</h2>
  <p>Working together, the world’s Java ecosystem leaders, including Fujitsu, IBM, Oracle, Red Hat, and Tomitribe, are advancing Java EE and Jakarta EE to support moving mission-critical applications and workloads to the cloud.</p> 
  <p>Joining the Jakarta EE Working Group demonstrates your commitment not only to the evolution and sustainability of Jakarta EE, but also to ensuring the growth and development of a well-governed, vendor-neutral open source ecosystem which benefits all.</p>
  <h3>Member Testimonials</h3>
  
  <div class="row testimonial-container">
    {{ range .Site.Data.membership.testimonials}}
      <div class="col-sm-8 margin-bottom-20 testimonial-item" style="display:none;">
        <div style="background-color:#f1f3f7;" class="padding-20">
        <p>"{{ .testimonial }}"</p>
        <p class="text-right"><strong>– {{ .title }}</strong></p>
        </div>
      </div>
    {{ end }}
  </div>
  <hr>
  <h2 id="benefits">Benefits</h2>
  <p>Members of the Jakarta EE Working Group take advantage of the following opportunities:</p>
  <ul>
    <li>Protect your strategic investment in Java EE, including ensuring the relevancy of your technology and your developer’s skills for the next generation of technology</li>
    <li>Play a role in defining Jakarta EE strategic themes and priorities to evolve the platform in alignment with your requirements and use cases — and those of your customers</li>
    <li>Gain insights to and influence over the technology roadmap</li>
    <li>Shape the definition, evolution, and execution of the specifications process</li>
    <li>Participate in open collaboration through professionally managed development initiatives</li>
    <li>Ensure your development teams benefit from sharing best practices and cutting edge information for building the next generation of enterprise Java applications</li>
  </ul>
  <p class="margin-top-20"><a class="btn btn-lg btn-secondary" href="/documents/membership/jakarta-ee-membership-flyer.pdf">Download Membership Flyer</a></p>
{{ end }}

{{ define "head-suffix" }}
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
      (function($, document) {
        $(document).ready(function() {
          $('.testimonial-container').html(
            $(".testimonial-item").sort(function(){
              return .5 - Math.random()
            }).slice(0,3).slideDown("slow")
          );
        });
      })(jQuery, document);
    });
  </script>
{{ end }}