@media screen and (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (max-width: 767px) {
}@media (max-width: 767px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}@media (min-width: 768px) {
}.header-why-jakarta-ee {
  position: relative;
  min-height: calc(32rem + 10rem);
  overflow: hidden;
  background-color: transparent;
}
.header-why-jakarta-ee::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -11.5%;
  z-index: -1;
  height: 110%;
  width: 100%;
  background-image: url(/images/jakarta-ee-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}
.header-why-jakarta-ee .jumbotron.featured-jumbotron {
  position: relative;
  min-height: 32rem;
  padding: 0;
}
.header-why-jakarta-ee .jumbotron.featured-jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url('/images/blue-shape-bg.jpg');
}
@media (min-width: 1060px) {
  .header-why-jakarta-ee {
    min-height: calc(40rem + 20rem);
  }
  .header-why-jakarta-ee .jumbotron.featured-jumbotron {
    min-height: 40rem;
  }
}
.jumbotron-why-jakarta-ee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32rem;
}
@media (min-width: 1060px) {
  .jumbotron-why-jakarta-ee-container {
    height: 40rem;
    flex-direction: row;
  }
}
.jumbotron-why-jakarta-ee-container > * {
  width: 100%;
}
.jumbotron-why-jakarta-ee-container .jumbotron-title {
  width: auto;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: none;
}
.jumbotron-why-jakarta-ee-container .jumbotron-graphic-container {
  position: relative;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (min-width: 1060px) {
  .jumbotron-why-jakarta-ee-container .jumbotron-graphic-container {
    width: 100%;
  }
  .jumbotron-why-jakarta-ee-container .jumbotron-graphic-container .jumbotron-title {
    font-size: 5rem;
  }
}
.jumbotron-why-jakarta-ee-container .jumbotron-graphic-breakout-container {
  position: absolute;
  bottom: -2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.jumbotron-why-jakarta-ee-container .jumbotron-graphic-bg {
  max-width: 100%;
  max-height: 100%;
}
@media (min-width: 1060px) {
  .jumbotron-why-jakarta-ee-container .jumbotron-graphic-breakout-container {
    display: block;
    justify-content: unset;
    top: 29%;
    width: 100%;
  }
}
.split-section .split-section-title-container {
  display: flex;
  align-items: center;
}
.split-section .split-section-title-icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 12px 8px 4px;
  background-color: #1B208B;
}
.split-section .split-section-title-icon {
  width: 45px;
}
.split-section .split-section-title-icon-wrapper::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 10px solid #1B208B;
}
.split-section .split-section-title {
  margin-left: 1em;
}

