<section class="{{- .Params.footer_section_useful_links_class | default .Site.Params.footer_section_useful_links_class | default "col-sm-6 hidden-print"}}" id="footer-useful-links">
  <h2 class="section-title">{{ i18n "footer-useful-links-section-text" }}</h2>
  <ul class="nav">
    <li><a href="https://bugs.eclipse.org/bugs/">{{ i18n "footer-useful-links-report-bug-text" }}</a></li>
    <li><a href="//help.eclipse.org/">{{ i18n "footer-useful-links-documentation-text" }}</a></li>
    <li><a href="/community/get-involved/">{{ i18n "footer-useful-links-contribute-text" }}</a></li>
    <li><a href="https://www.eclipse.org/mail/">{{ i18n "footer-useful-links-mailing-list-text" }}</a></li>
    <li><a href="https://www.eclipse.org/forums/">{{ i18n "footer-useful-links-forums-text" }}</a></li>
    <li><a href="//marketplace.eclipse.org">{{ i18n "footer-useful-links-marketplace-text" }}</a></li>
  </ul>
</section>