<section class="{{- .Params.footer_section_socials_class | default .Site.Params.footer_section_socials_class | default "col-sm-6 hidden-print"}}" id="footer-socials">
  <h2 class="section-title"><img class="img-responsive" src={{ absURL "/images/jakarta/jakarta-ee-logo-white.svg" }} alt="Jakarta EE logo"></h2>
  <ul class="list-inline margin-top-20">
    {{- range .Site.Params.socials }}
    <li>
      <a class="social-icon" href="{{ .url }}">
        <i class="{{ .icon }}" aria-label="{{ i18n " footer-sr-social-account" .name }}"></i>
      </a>
    </li>
    {{- end }}
  </ul>
  <div class="margin-top-30 text-center">
    <a href="https://www.netlify.com" rel="noreferrer" target="_blank">
      <img alt="Deploys by Netlify" loading="lazy" width="120" height="60" decoding="async" data-nimg="1" style="color: transparent;" src="/images/netlify-badge-light.svg" />
    </a>
  </div>
</section>