{{ $footer_useful_links_class := .Params.footer_section_useful_links_class | default .Site.Params.footer_section_useful_links_class | default "footer-section col-sm-8" }}
<section id="footer-useful-links" class="{{ $footer_useful_links_class }}">
  <div class="menu-heading">
    {{ i18n "footer-useful-links-section-text" }}
  </div>
  <ul class="nav">
    <li>
      <a href="https://github.com/jakartaee/jakarta.ee"
        >{{ i18n "footer-useful-links-report-bug-text" }}</a
      >
    </li>
    <li>
      <a href="/resources/"
        >{{ i18n "footer-useful-links-documentation-text" }}</a
      >
    </li>
    <li>
      <a href="/community/get-involved/"
        >{{ i18n "footer-useful-links-contribute-text" }}</a
      >
    </li>
    <li>
      <a href="/connect/mailing-lists/"
        >{{ i18n "footer-useful-links-mailing-list-text" }}</a
      >
    </li>
    <li>
      <a href="/connect/">{{ i18n "footer-useful-links-forums-text" }}</a>
    </li>
    <li>
      <a href="/compatibility/"
        >{{ i18n "footer-useful-links-marketplace-text" }}</a
      >
    </li>
  </ul>
</section>
