<div class="row">
<div class="col-md-21">
    <div class="news-content">
      {{ partial "news/date" . }}
      {{ $href := .Params.redirect_url | default .RelPermalink }}
      <div class="content-inner">
          <span class="flex-column" style="height: 100%;">
            {{ partial "news/title" . }}
            {{ if isset .Params "image"}}
              <a href="{{ $href }}" class="content-link">
                <img src="{{ .RelPermalink }}{{.Params.image}}" class="content-image" />
              </a>
            {{ end }}
            <p class="content-summary">{{ .Params.summary | truncate 260 }}</p>
            {{ partial "news/authors" . }}
            <p class="news-footer">
              <a href="{{ $href }}" class="content-link read-more">
                Continue reading
              </a>
              {{ if (ne ($.Param "summary_icons") false) }}
                {{ partial "news/summary_icons" . }}
              {{ end }}
            </p>
          </span>
      </div>
    </div>
  </div>
</div>
