<span class="summary-icons">
    | 
    <a class="nav-item" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="{{ i18n "news-summary-icons-facebook"}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a class="nav-item" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" title="{{ i18n "news-summary-icons-linkedin"}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a class="nav-item" href="https://twitter.com/home?status={{ .Permalink }}" title="{{ i18n "news-summary-icons-twitter"}}"><i class="fa fa-twitter"></i></a>
</span>
