<span class="summary-icons">
    | 
    <a class="nav-item" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a class="nav-item" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" title="Share on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a class="nav-item" href="https://twitter.com/home?status={{ .Permalink }}" title="Tweet this"><i class="fa fa-twitter"></i></a>
</span>
