<nav>
    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
        <li role="presentation" class="active"><a id="steering-committee-tab" data-toggle="tab" href="#steering-committee" role="tab" aria-controls="steering-committee" aria-selected="true">Steering Committee</a></li>
        <li role="presentation"><a id="specifications-committee-tab" data-toggle="tab" href="#specifications-committee" role="tab" aria-controls="specifications-committee" aria-selected="true">Specifications Committee</a></li>
        <li role="presentation"><a id="marketing-brand-committee-tab" data-toggle="tab" href="#marketing-brand-committee" role="tab" aria-controls="marketing-brand-committee" aria-selected="true">Marketing and Brand Committee</a></li>
    </ul>
</nav>
<div class="tab-content margin-bottom-20">
    <div class="tab-pane active" id="steering-committee" role="tabpanel" aria-labelledby="steering-committee-tab">
        <ul>
            <li>Will Lyons (<strong>chair</strong>)- Oracle, Ed Bratt - alternate</li>
            <li>Kenji Kazumura - Fujitsu, Michael DeNicola - alternate</li>
            <li>Dan Bandera - IBM, Ian Robinson - alternate</li>
            <li>Steve Millidge - Payara, Eliot Martin - alternate</li>
            <li>Mark Little - Red Hat, Scott Stark - alternate</li>
            <li>David Blevins - Tomitribe, Cesar Hernandez - alternate</li>
            <li>Martijn Verburg - London Java Community - Elected Participant Representative</li>
            <li>Ivar Grimstad - Elected Committer Representative</li>
        </ul>
    </div>
    <div class="tab-pane" id="specifications-committee" role="tabpanel" aria-labelledby="specifications-committee-tab">
        <ul>
            <li>Kenji Kazumura - Fujitsu, Michael DeNicola - alternate</li>
            <li>Dan Bandera - IBM, Kevin Sutter - alternate</li>
            <li>Bill Shannon - Oracle, Ed Bratt - alternate</li>
            <li>Mark Wareham - Payara, Matt Gill - alternate</li>
            <li>Scott Stark - Red Hat, Mark Little - alternate</li>
            <li>David Blevins - Tomitribe, Jean-Louis Monterio - alternate</li>
            <li>Ivar Grimstad - PMC Representative</li>
            <li>Alex Theedom - London Java Community Elected Participant Representative</li>
            <li>Werner Keil - Elected Committer Representative</li>
            <li>Paul Buck - Eclipse Foundation (serves as chair, but is not a voting committee member)</li>
        </ul>
    </div>
    <div class="tab-pane" id="marketing-brand-committee" role="tabpanel" aria-labelledby="marketing-brand-committee-tab">
        <ul>
      <li>Michael DeNicola - Fujitsu, Kenji Kazumura - alternate</li>
      <li>Dan Bandera - IBM, Neil Patterson (<strong>chair</strong>)- alternate</li>
      <li>Ed Bratt - Oracle, Melissa Jacobus - alternate</li>
      <li>Dominika Tasarz - Payara, Jadon Ortlepp - alternate</li>
      <li>Cesar Saavedra - Red Hat, Paul Hinz - alternate</li>
      <li>David Blevins - Tomitribe, Jonathan Gallimore - alternate</li>
      <li>VACANT - Elected Committer Representative</li>
        </ul>
    </div>
</div>