<div class="text-center margin-top-15">
  <div class="row">
    <div class="col-xs-24 col-md-12 match-height-item-by-row margin-bottom-30">
        <img class="margin-auto img img-responsive" src="/compatibility/get_listed/group.svg" title="Group of people" alt="Group of people" width="80">
        <h3 class="heading-underline heading-underline-extended text-center fw-700">建立客户信心</h3>
        <p>让您的企业客户和潜在客户对您的产品满足其质量、可移植性和可扩展性要求充满信心</p>
    </div>
      <div class="col-xs-24 col-md-12 match-height-item-by-row margin-bottom-30">
          <img class="margin-auto img img-responsive" src="/compatibility/get_listed/network.svg" title="Three people connected in a loop" alt="Three people connected in a loop" width="80">
          <h3 class="heading-underline heading-underline-extended text-center fw-700">协作</h3>
          <p>证明您的组织正在与行业领导者合作以推进 Jakarta EE 技术</p>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-24 col-md-12 match-height-item-by-row margin-bottom-30">
          <img class="margin-auto img img-responsive" src="/compatibility/get_listed/blocks.svg" title="3 blocks stacked in a pyramid" alt="3 blocks stacked in a pyramid" width="80">
          <h3 class="heading-underline heading-underline-extended text-center fw-700">品牌建设</h3>
          <p>通过与 Jakarta EE 工作组的合作强化您的品牌</p>
      </div>
      <div class="col-xs-24 col-md-12 match-height-item-by-row margin-bottom-30">
          <img class="margin-auto img img-responsive" src="/compatibility/get_listed/social-care.svg" title="Three people connected in a loop" alt="Three people connected in a loop" width="80">
          <h3 class="heading-underline heading-underline-extended text-center fw-700">社区支持</h3>
          <p>证明您对 Jakarta EE 开发者社区的支持</p>
      </div>
  </div>
</div>