<style>
  div.product-list img { max-height: 150px; }
  div.product-list .grid-center { display: flex; align-items: center;}
</style>
<ul>
{{ range $.Site.Data.compatible_products.sets }}
  <li><a href="#{{ .title | urlize }}">{{ .title }}</a></li>
{{ end }}
</ul>
{{ range $.Site.Data.compatible_products.sets }}
  {{ $title:=.title }}
  <div class="product-list">
    <h2 class="text-center heading-line" id="{{ .title | urlize }}"><span style="background-color:#fff;">{{ .title }}</span></h2>
    <div class="row">
      {{ range .items }}
        <div class="col-xs-24 col-sm-12 col-lg-6 padding-bottom-20">
          <div class="match-height-item-by-row padding-20 flex-column">
            <div class="center-block padding-left-30 padding-right-30 padding-bottom-10 padding-top-10 grid-center" data-mh="{{ $title | urlize }}">
              <img class="img img-responsive" src="{{ .image }}" alt="{{ .vendor }}'s {{ .name }} logo">
            </div>
            <div class="flex-grow text-center flex-column">
              <h3 class="margin-bottom-0">{{ .name }}</h3>
              <p class="flex-grow">{{ .vendor }}</p>
              <p class="">Version: {{ .version }}</p>
              <p><a href="{{ .download }}" class="btn btn-primary">{{ .download_text | default "Download" }}</a></p>
              <p><a href="{{ .compatibility }}">Proof of compatibility</a></p>
            </div>
          </div>
        </div>
      {{ end }}
      <div class="clearfix"/>
    </div>
  </div>
{{ end }}