{{ $scratch := newScratch }}
{{ range .Site.Data.spec_adopters.adopters.projects }}
  {{ range .adopters }}
    {{ $scratch.SetInMap "adopters" (lower .name) . }}
  {{ end }}
{{ end }}

{{ if gt (len ($scratch.Get "adopters")) 0 }}
<h2 id="adopters">Adopters</h2>
<ul class="list-inline">
	{{ range $scratch.GetSortedMapValues "adopters" }}
		<li>
			<a href="{{ .homepage_url }}" title="{{ .name }} homepage" target="_blank" >
				<img class="responsive-img img" src="/images/spec_adopters/{{ .logo }}" alt="{{ .name }} logo" width="100" />
			</a>
		</li>
	{{ end }}
</ul>
{{ end }}