{{ $id := .Get "id" }}
{{ $url := .Get "url" }}

<div id="{{ $id }}" class="video-modal modal" tabindex="-1" role="dialog">
    <div class="video-modal-dialog modal-dialog" role="document">
        <div class="video-modal-dialog-content modal-content">
            <a class="eclipsefdn-video eclipsefdn-video-with-js" href="//www.youtube.com/embed/{{ $url }}" data-enable-js="true"></a>
        </div>
        <div class="video-modal-dialog-controls">
            <button class="video-modal-dialog-controls-close-button btn btn-transparent margin-left-10" data-dismiss="modal">
                <i class="feather-32 color-white" data-feather="x"></i>
            </button>
        </div>
    </div>
</div>