{{ $id := .Get "id" }}
{{ $url := .Get "url" }}

<div id="{{ $id }}" class="video-modal modal" tabindex="-1" role="dialog">
    <div class="video-modal-dialog modal-dialog" role="document">
        <div class="video-modal-dialog-content modal-content">
            <div class="eclipsefdn-video-with-js">
                <iframe width="100%" height="315" src="{{ $url }}?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-modal-dialog-controls">
            <button class="video-modal-dialog-controls-close-button btn btn-primary">Close</button>
        </div>
    </div>
</div>