{{ $id := .Get "id" }}
{{ $url := .Get "url" }}

<div id="{{ $id }}" class="video-modal modal" tabindex="-1" role="dialog">
    <div class="video-modal-dialog modal-dialog" role="document">
        <div class="video-modal-dialog-content modal-content">
            <a class="eclipsefdn-video" href="https://www.youtube.com/watch?v=eSY6Uo62IH8"></a>
        </div>
        <div class="video-modal-dialog-controls">
            <button class="video-modal-dialog-controls-close-button btn btn-primary">Close</button>
        </div>
    </div>
</div>