{{ define "main_prefix" }}
<main>
  <div class="{{ if (and (isset .Page.Params "container") (ne .Page.Params ""))}}{{ .Page.Params.container }}{{else}}container{{end}}">
    {{ if ne .Page.Params.hide_sidebar true }}
      <div class="row">
        <div class="col-md-18 padding-bottom-30">
    {{ end }}
{{ end }}

{{ define "main" }}
  {{ if ne .Page.Params.hide_page_title true }}
    <h1>
      {{ .Title }}
      {{ if .Params.project_id }}
        <span class="badge">
          <a href="https://projects.eclipse.org/projects/{{ .Params.project_id }}"><i class="fa fa-globe" aria-hidden="true"></i> Website</a>
        </span>
      {{ end }}
    </h1>
  {{ end }}
  {{ .Content }}
  <div class="news-list"> 
    {{ range .Page.Sections.ByWeight}}
      <a href="{{- with .Params.redirect_url | default .RelPermalink }} {{.}} {{- end }}" class="media media-link{{ if eq .Section "news" }} match-height-item{{ end }}">
        <h4 class="media-heading">{{ .Title }}</h4>
        <p class="media-text">{{ .Params.summary }}</p>
      </a>
    {{ end }}
  </div>
{{ end }}