{{ define "main_prefix" }}
<main>
  <div class="{{ if (and (isset .Page.Params "container") (ne .Page.Params ""))}}{{ .Page.Params.container }}{{else}}container{{end}}">
    {{ if ne .Page.Params.hide_sidebar true }}
      <div class="row">
        <div class="col-md-18 padding-bottom-30">
    {{ end }}
{{ end }}

{{ define "main" }}
  {{ if ne .Page.Params.hide_page_title true }}
    <h1 class="big-text">
      {{ .Title }}
      {{ if .Params.project_id }}
        <span class="eclipsefdn-specification-badges" data-project-id="{{ .Params.project_id }}">
        </span>
      {{ end }}
    </h1>
  {{ end }}
  <p>{{ .Params.summary }}</p>
  {{ if eq .Page.Parent.Title "Specifications" }}
    <ul class="margin-bottom-60">
      {{/*
        Iterate over the section's pages, extract the version from the title
        and group them by version.
      */}}

      {{ $sorted_specs := slice }}
      {{ range .Page.Sections }}
        {{ $version := index (findRE "[0-9]+([.][0-9]+)?" .) 0 }}
        {{ $sorted_specs = $sorted_specs | append (dict "version" $version "page" .) }}
      {{end }}

      {{/* Sort the specifications by version, descending. */}}
      {{ $sorted_specs = sort $sorted_specs "version" "desc" }}

      {{ range $sorted_specs }}
        <li>
          <h2><a href="{{- with .page.Params.redirect_url | default .page.RelPermalink }} {{.}} {{- end }}">{{ .page.Title }}</a></h2>
          {{ if eq .page.Params.summary_sixty_char nil  }}
            <p>{{ .page.Params.summary | truncate 57 }}</p>
          {{ else }}
            <p>{{ .page.Params.summary_sixty_char }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
  {{ .Content }}
  {{ if eq .Page.Parent.Title "Home" }}
    <p>{{ i18n "layouts-specifications-list-click-to-access-text" }}</p>

    <h2 class="big-text text-secondary">{{ i18n "layouts-specifications-list-platform-and-profile-title" }}</h2>
    <p>{{ i18n "layouts-specifications-list-platform-and-profile-text" }}</p>

    <div class="specifications-news-list">
      <div class="row">
      {{ range (.Page.Sections.ByParam "title").ByParam "weight" }}
          {{ if or (eq .Title "Jakarta EE Platform") (eq .Title "Jakarta EE Web Profile") (eq .Title "Jakarta EE Core Profile") }}
              <div class="col-sm-8 card-container">
                  <div class="card-panel bordered panel panel-default">

                      <div class="panel-body match-height-item-by-row">
                        <h3 class="big-text h3">
                            <a href="{{- with .Params.redirect_url | default .RelPermalink }}{{.}}{{- end }}">{{ .Title }}</a>
                        </h3>
                        {{ if .Params.project_id }}
                          <div 
                            class="eclipsefdn-specification-badges" 
                            data-project-id="{{ .Params.project_id }}" 
                            data-video="https://www.youtube.com/watch?v=wK5Uis9QnFU"
                          >
                          </div>
                        {{ end }}
                        {{ if eq .Params.summary_sixty_char nil  }}
                            <p>{{ .Params.summary | truncate 100 }}</p>
                        {{ else }}
                            <p>{{ .Params.summary_sixty_char }}</p>
                        {{ end }}

                        <ul class="card-arrow-list">
                            {{ range first 2 (.Page.Sections.ByParam "title").ByDate.Reverse }}
                            <li>
                              <a class="brand-primary" href="{{- with .Params.redirect_url | default .RelPermalink }}{{.}}{{- end }}"><strong>{{ .Title }}</strong></a>
                            </li>
                            {{ end }}
                        </ul>
                      </div>
                      <div class="panel-footer">
                        <hr>
                        <p><a href="{{- with .Params.redirect_url | default .RelPermalink }}{{.}}{{- end }}">{{ i18n "layouts-specifications-list-view-more" }}</a></p>
                      </div>
                  </div>
              </div>
          {{ end }}

      {{ end }}
      </div>
    </div>

    <h2 class="big-text text-secondary">{{ i18n "layouts-specifications-list-individual-specifications-title" }}</h2>
    <p>{{ i18n "layouts-specifications-list-individual-specifications-text" }}</p>

    <div id="specifications-list" class="specifications-list">
      <div class="row">
      {{ range (.Page.Sections.ByParam "title").ByParam "weight" }}
          {{ if and (ne .Title "Jakarta EE Platform") (ne .Title "Jakarta EE Web Profile") (ne .Title "Jakarta EE Core Profile") }}
              <div class="col-sm-8 card-container">
                <div class="card-panel bordered panel panel-default">
                  <div class="panel-body match-height-item-by-row">
                    <h3 class="big-text h3 specification-item">
                      <a href="{{- with .Params.redirect_url | default .RelPermalink }}{{.}}{{- end }}">{{ .Title }}</a>
                    </h3>
                    {{ if .Params.project_id }}
                      <div 
                        class="eclipsefdn-specification-badges" 
                        data-project-id="{{ .Params.project_id }}" 
                        data-video="{{ .Params.video_guide }}"
                      >
                      </div>
                    {{ end }}
                    {{ if eq .Params.summary_sixty_char nil  }}
                        <p>{{ .Params.summary | truncate 57 }}</p>
                    {{ else }}
                        <p>{{ .Params.summary_sixty_char }}</p>
                    {{ end }}
                    <ul class="card-arrow-list">
                        {{ range first 2 (.Page.Sections.ByParam "title").ByDate.Reverse }}
                          <li>
                            <a class="brand-primary" href="{{- with .Params.redirect_url | default .RelPermalink }} {{.}} {{- end }}"><strong>{{ .Title }}</strong></a>
                          </li>
                        {{ end }}
                    </ul>
                  </div>
                  <div class="panel-footer">
                    <hr>
                    <p><a href="{{- with .Params.redirect_url | default .RelPermalink }}{{.}}{{- end }}">{{ i18n "layouts-specifications-list-view-more" }}</a></p>
                  </div>
                </div>
              </div>
          {{ end }}
      {{ end }}
      </div>
    </div>

  {{ end }}
    <div>
      {{ $section := .CurrentSection }}
      {{ with .Site.Data.spec_adopters.adopters.projects }}
        {{ range sort . "name" "asc"}}
          {{ $project := . }}
          {{ with $section.File.Dir }}
            {{ if eq . $project.directory }}
             <h2>{{ i18n "layouts-specifications-list-jug-spec-adopters-title" }}</h2>
              <p>{{ i18n "layouts-specifications-list-jug-spec-adopters-text" | safeHTML }}</p>
                <ul class="list-inline">
                {{ range sort $project.adopters  "name" "asc"}}
                  <li><a href="{{ .homepage_url }}" target="_blank"><img src="/images/spec_adopters/{{ .logo }}" alt="{{ .name }}" class="adopter-logo"/></a></li>
                {{end}}
              </ul>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
{{ end }}
