{{ define "main_prefix" }}
<main>
  <div class="{{ if (and (isset .Page.Params "container") (ne .Page.Params ""))}}{{ .Page.Params.container }}{{else}}container{{end}}">
    {{ if ne .Page.Params.hide_sidebar true }}
      <div class="row">
        <div class="col-md-18 padding-bottom-30">
    {{ end }}
{{ end }}

{{ define "main" }}
  {{ if ne .Page.Params.hide_page_title true }}
    <h1>
      {{ .Title }}
      {{ if .Params.project_id }}
        <span class="badge">
          <a href="https://projects.eclipse.org/projects/{{ .Params.project_id }}"><i class="fa fa-archive" aria-hidden="true"></i> Project</a>
        </span>
        {{ range first 1 (where $.Site.Data.eclipsefdn_projects "project_id" .Params.project_id) }}
        	{{- with .website_url }}
	        <span class="badge">
	          <a href="{{ . }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> Website</a>
	        </span>
	        {{ end }}
        {{ end }}
      {{ end }}
    </h1>
  {{ end }}
  {{ .Content }}
  {{ if eq .Page.Parent.Title "Specifications" }}
    <ul>
      {{ range .Page.Sections.ByWeight}}
        <li>
          <h3><a href="{{- with .Params.redirect_url | default .RelPermalink }} {{.}} {{- end }}">{{ .Title }}</a></h3>
          {{ if eq .Params.summary60Char nil  }}
            <p>{{ .Params.summary | truncate 57 }}</p>
          {{ else }}
            <p>{{ .Params.summary60Char }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <div class="news-list specifications-news-list"> 
      <div class="row">
        {{ range .Page.Sections.ByWeight}}
        <div class="col-sm-8">
          <a href="{{- with .Params.redirect_url | default .RelPermalink }} {{.}} {{- end }}" class="match-height-item media media-link margin-bottom-30">
            <span class="flex-column" style="height: 100%;">
              <h4 class="media-heading vertical-align" data-mh="spec-title" >{{ .Title }}</h4>
              {{ if eq .Params.summary60Char nil  }}
                <p class="media-text vertical-align flex-grow">{{ .Params.summary | truncate 57 }}</p>
              {{ else }}
                <p class="media-text vertical-align flex-grow">{{ .Params.summary60Char }}</p>
              {{ end }}
            </span>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
    <div>
      {{ $section := .CurrentSection }}
      {{ with .Site.Data.spec_adopters.adopters.projects }}
        {{ range sort . "name" "asc"}}
          {{ $project := . }}
          {{ with $section.File.Dir }}
            {{ if eq . $project.directory }}
             <h3>JUG Spec Adopters</h3>
              <p>To learn how your JUG can sign-up, check out the <a href="/community/adopt-a-spec">Adopt a Specification</a> program.</p>
                <ul class="list-inline">
                {{ range sort $project.adopters  "name" "asc"}}
                  <li><a href="{{ .homepage_url }}" target="_blank"><img src="/images/spec_adopters/{{ .logo }}" alt="{{ .name }}" class="adopter-logo"/></a></li>
                {{end}}
              </ul>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
{{ end }}