{{#news}}
<div class="padding-top-10 padding-bottom-10"><a href="{{ link }}">
    <span class="meta-wrap">
        <span class="post-title">
            {{ title }}
        </span>
        <span class="post-date">{{ date}}</span> 
    </span> 
</a></div>
{{/news}} 