.header-wrapper {
    background-position:left;
    .featured-jumbotron-default {
        min-height:400px;
        padding-top: 250px;
        padding-bottom: 30px;

        // Selects the column within the row which comes after the heading.
        // This is used to add the orange line below the heading.
        h2::after,
        .h2::after {
            content: "";
            display: block;
            width: 7.5rem;
            height: 1px;
            margin: .8em 0;
            background-color: @brand-secondary;
        }

        .btn {
          min-width: unset;
        }
    }
    &.header-default-bg-img {
      background-position: 90% 0;

      @media (min-width: @screen-sm-min) {
        background-position: center;
      }
    }
    &.header-secondary-bg-img {
        .featured-jumbotron {
            min-height:300px;
            padding-top: 200px;
        }
    }
}

.featured-jumbotron {
    h1 {
        margin-bottom:10px;
        &:after {
            display:none;
        }
    }
    h1, h2 {
        text-transform: uppercase;
    }
    h2 {
        font-family: @font-family-sans-serif;
        font-weight: 600;
        font-size: 26px;
    }
    .jumbotron-title {
        width: 350px;
        margin-bottom: 20px;
        @media (max-width: @screen-xs-max) {
            width: 250px;
        }
    }
}

.header-secondary-bg-img {
    background-image:@header-secondary-bg-img;
}

.max-content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
