@media (min-width: @screen-sm-min) {
  .main-menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .menu-left,
    .menu-right {
      display: flex;
      align-items: center;
      gap: 1rem;

      flex: 0 0 23rem;
    }

    .menu-left {
      justify-content: flex-start;
    }

    .menu-right {
      justify-content: flex-end;
    }

    .menu {
      position: relative;
    }

    .navigation-bar {
      height: 100%;
      display: flex;

      & > ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1.5rem;
        list-style: none;

        & > li {
          padding: 2.3rem 0;

          a {
            .link-unstyled();
          }
        }
      }
    }
  }
}
