.btn {
    padding: 8px 20px;
    font-weight: 600;
}

.text-secondary {
    color: @brand-secondary;
}

main h2, main h3, .text-bold {
    font-family: @font-family-heading;
    font-weight: 700;
    color: @brand-primary;
    a {
        color: @brand-primary;
        &:hover {
            color: darken(@brand-primary, 15%);
        }
    }
    &.italic {
        font-style: italic;
    }
    &.uppercase {
        text-transform: uppercase;
    }
    &.main-title {
        color: @brand-secondary;
        a {
            color: @brand-secondary;
            &:hover {
                color: darken(@brand-secondary, 15%);
            }
        }
        font-style: italic;
        text-transform: uppercase;
    }
}

main h3 {
    font-size: 22px;
    margin-top: 0;
}

p.text-bold {
    font-size: 12px;
}